
 
  <nav class="navbar navbar-expand navbar-default navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        &ltCODING&gtKO&lt/.COM&gt
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "K.O.'s Tech Corner", blog_path %></li>
        <li><%= link_to "Daily Grind", grind_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Other Resources", tutorials_path %></li>
        <li><%= link_to "Contact Me", new_contact_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<body class="about">
<header class="container-fluid text-center about-header">
    <h1>Here Is Some Information About Kenneth Olsen<br>
    To Digest With Your Eye Holes</h1>
</header>
<img id="me" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531755040/KennethOlsenWebDeveloperDetroit.png" alt="A picture of Kenneth Olsen, the developer of this website, on a moving boat.">
<h1 class="container text-center about-title">A Little About Me</h1>
<div class="container about-content">
<p> Hello!  My name is Kenneth Olsen, and I love technology.
Ever since I was a child growing up just south of Detroit, I have been interested in all things electronic.  From a very young age I was taking apart and putting back together VCR's, cassete decks, walkmans, and anything else I could get my hands on.  As a matter of fact, when I was about 6 or 7 my parents started relying on me to get the surround sound hooked up, the cable hooked up, and setting the time on the VCR.   Back in the early 90s my mother brought home what I believe was a Commodore computer.  The kind that took CARTRIDGES! That is when I was introduced to things like MS-DOS.  As I grew older my love for technology only grew.  I met a friend ,Jacob Huddleston, who's father owned a computer repair business (Shout Out to Electronic Computer Services), and that is when I got introduced to the more technichal side of computers.  Jake and I used to hang out all day just modding games like Carmegeddon and Half-Life CounterStrike.  When I got a little better with everything, Jake's dad Tim Huddleston actually put me on the payroll for a bit.  Alas, Jake and I grew apart, and while my love for technology did not end, I stopped pursuing educating myself with it.
</p>
<br>
<p>
    Cut to 15 years later and I am working at a nursing home that specializes in Alzhiemers and Dementia as the maintenance man.  It's not computers, but there is still quite a bit of technology involved, and being a maintenance man has definitly helped my problem-solving skills and thinking of outside-the-box answers to problems.  Plus, I love helping people.  That is what I want to do in life, is help people that don't have the ability to help themselves.  Around Christmas of 2017 I saw a project that could give a visually impaired person a bit of help navigating their terrain.  The project was on the website <a href="http://www.instructables.com/id/Helping-Eyes-Mountable-Visual-Aid/">Instructables</a>, and it seemed like a fairly inexpensive and very usefule way of helping people.  That is when I decided I was going to try to get back into computers and teach myself how to code.
  </p>
  <br>
  <p>
    Now, I know that web development is not the same as coding a piece of technology for helping people, but as I was trying to learn everything and hopping around from tutorial to tutorial, I came across <a href="http://www.freecodecamp.org/">FreeCodeCamp</a>.  I read about it and after you get done completing most of the lessons, they give you the oppurtunity to do work for some non-profit orginaizations.  So, that is how I ended up trying to do web development (I haven't forgot about the other stuff, I'm still going to do that too, but first I'm going to learn web dev).  As of writing this, it has only been about 7 months since I started, but the difference between where I was and where I am now is quite drastic.  I spend almost all the free time I have out of work practicing coding, and creating things.  Ideally, I would like to turn this into a career.  However, even if I never make a dime off of this, I still enjoy doing it, and will not be giving up anytime soon.  
</p>
</div>
<footer class="about">footer</footer>
</body>