<nav class="navbar navbar-expand navbar-default navbar-static-top" role="navigation">
	<div class='container'>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to root_path, class: "navbar-brand" do %>
				&ltCODING&gtKO&lt/.COM&gt
				<% end %>
		</div>
		<div class="collapse navbar-collapse" id="main-nav-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "K.O.'s Tech Corner", blog_path %></li>
				<li>
					<%= link_to "Daily Grind", grind_path %>
				</li>
				<li>
					<%= link_to "About", about_path %>
				</li>
				<li>
					<%= link_to "Other Resources", tutorials_path %>
				</li>
				<li>
					<%= link_to "Contact Me", new_contact_path %>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
</nav>
<div class="container-fluid books-body">
<div class="container-fluid books-head-bg">
	<header class="container-fluid text-center books-header">
		<h1>Free Online Book Tutorials</h1>
	</header>
	</div>
<div class="container tutorial-content">
<div class="container books-tutorials">
		<h2>Quality Books (FREE!!)</h2>
<br>
			<p>Here are some great books for learning programming that the authors were kind enough to put online for free! There are
			many other books online for free, but when searching for them watch out for the publish date. Many of the books online
			for free are old and the technologies they are for have passed them up. Once again I will put them in the order I think
			you should read them, but with these (since they are all for beginners) it really doesnt matter too much the order in
			which you read them.</p>
<br>
			<ol>
				<li>
					<h2><a href="https://learnpythonthehardway.org/book/ex0.html" target="_blank">Learn Python The Hard Way</a></h2>
						<img class="book-pics" src="https://lh3.googleusercontent.com/eXhpVlRASSDtrjY4zgZmcN7p1zlqvQ73gz4Su3TWJuM8enNFCA5iWPYfb-dRJfielNvQpM65ZUNlGoZEfaCRiBBuM9G__J6zy7_qLlsrAbxeEwE1qoUMRfp0pXB4lFu79FOWG7BmOQ4RYych-7HrWGfJAcd9GoD7Iceb3bRGFE5jLwqjkKYrrSVpOXcg5oQWyoKpcX2eZmH6qf25kqFCCFrYsi0PCZX5xaORv0Kl7SgZwwKr2K4E6k0y9SHwoI071Gw1xqaY5bJifX9hu6uqvODgp4wy23VF1u89C7aWIj1YExfrm77u4SdlGFwk1nrfNQIt1aQn9x3W54L8XQRTUZ-lONuVxrkS_B0u3f6v1F1fVOGHTPj_uZ8L0RHnICY0CzDdM5f_HyAJ9kJD7_yanXo-Hy4PorMRQjWbJWJdNbDGDWFZqDs1BLGwE34nsJHacViPgz9yeV0niECzxtX92MIp9kZuo3M7y4w4c-n3l-tTTjS7KP1mE64VwCLzRnOsdNFxcG8cKjnpVM-fxPdbI4j2PHkhApxU55KwTw6UJVksn7y2v-wTSi6pQ2pT1lD-7EXO_IfcEw_PrrdtvQ-_FDhsflXDUNe6Rs4qqrQ=w426-h554-no">
				</li>
<br>
					<p>This book, by Zed A. Shaw, is actually where I started my journey to learning programming and development many moons
					ago. It is one of the most recomennded books out there for learning Python. He has a style of teaching that is unlike
					many other books or online resources in that he believes repitition is the key to learning, at least at the beginning.
					It's an idea I can definitly get behind as it helped me out drastically, especially being a complete beginner. He basically
					tells you what's going on, but then tells you to just literally copy what he's doing. It worked for me, and kept me
					engaged and interested the whole time. As a beginner, I wanted to create something that works. If I had to deal with
					the frustration of not being able to do something extremely simple right off the bat, I may have given up. However with
					Learn Python the Hard Way, as I said before, you get to complete working applications by simply copying what Mr. Shaw
					does as he explains it to you. Then once you have the basics down he starts expecting you to know how to complete tasks
					on your own. This book is probably the reason I stuck with learning everything instead of getting frustrated and throwing
					my computer at a wall.</p>
<br>
				<li>
					<h2><a href="https://automatetheboringstuff.com/" target="_blank">Automate the Boring Stuff with Python</a></h2>
					<img class="book-pics" src="https://lh3.googleusercontent.com/nj5SRiUkJfpkqriZRj8mdbcQX8EFgcWDFAth2yHNgMGRzpzyQi_w9GW9c9t9bNJOG6YxugE4SlpWfAtvtSN2Zv450pk9M6HdMuB4_vVa019F7o36skFQiTRWq94uQjmfCATr4YnJSY9g7fYbIxrSaxcDzn2Wd14AayWfYXB8UmlsicAA73zcG4qTrYKI7XrH9qN5RxLpTL7toXBClU3z_Ld2hFzcuivGvrNO69OxbSFagtZdSF88hPy10Zay9kD725hTXGWDTdYzbHbFENiLD2O3dLRBCOHz7RtI1kwXt6i50mx33Ho6Isy6mz4vntFD1ZmLf_6QbOIyRzYbY1_waP2UWKabHgtaV6jb4lm9gtjr9grtKBHLAPB04RtdzDiXfX563IKri1ckWkOpUBJ_baxNASSJOS-ooaNM-_v-bpG3_AMJ31cMUt8KBe1zrxt6mB2ewRMb4dXI9uvnWHYXDz7hqyis7RcSufquY_PL-WQYZwBcu_3qudeyg8dZRrdVFEJkGmzTkfDstG3ZenWfXUiXPsMQLLswtbh58PVdfZsgKt4bQ1tpzQsebZnvltWvuCvr35GIwfN1MLt8m0r7wrSUg0wLolfkCYJnGJM=w482-h636-no">
				</li>
<br>
					<p>Automate the Boring Stuff by Al Swiegart is a great next step after Learn Python the Hard Way or it is great as the first
					Python book you read. The only reason I recomennd this one second is because of Zed A. Shaw's teaching style with so
					much repitition. With Automate the Boring Stuff you get a good look at the more practical abilities of Python. It is
					really cool to see things, that would have taken you forever to do on your own, done in seconds by your computer with
					a program that you coded yourself. The book teaches you to do what it says in the title, Automate the Boring Stuff,
					like sending yourself and others reminder e-mails and texts or searching for certain text in a documaent or across multiple
					documents. This book actuallt brought me a bit more joy than Learn Python the Hard Way, but only because there is a
					lot more of seeing your code in action doing actual useful things.</p>
<br>
				<li>
					<h2><a href="https://eloquentjavascript.net/" target="_blank">Eloquent JavaScript</a></h2>
					<img class="book-pics" src="https://lh3.googleusercontent.com/wzV83y0xgXQeUPlPMA2YPntQUPRKSiFqyFSZ8XC8x7HijzhDBX2VtMRHEUHgG7hB0ec-pKtouUzcY3VMB7XzAF5dgYraTW9lN3X0SoKJoIaFq_7-U3lSK-vmbKUpLzUwZh2cXLEmAV6bwHKWsL-UhsHxV42o9SJt8NVW2freHzr7EeIpOROPQsiHCwY5_nE3UWvlQwd9c9zEPsoiLSTRy0xRpVeTSU-7OEs6-9oKHM0RzT8lSBa7gVcj-CkxPIuheywYOjmtJTXZdKOpNQdunA_UalOozKU2pwG_bxvmXiV1BkzIPGQVQSZwCLVmlmOjajQVt_ikZiF4Ja5h0KkRHf-GENo5Ozme2ZCQ2KIe6KNgiwHF3CyVAjF52StKRj5-Z_sTX2_nw0A8nhmXLyQ3PtBpnSFx35EnheTUHj72zZdsoYEY4KxSbU72T154VD03wQtWgEiVU7Mh2PaEVhnTsR5SciAFZOXP77wMKgHqyFryKj6spCbE2uVv8gpG4vF-gb6Qhn_5hDIEyNzwHWfIsCCjc9bDXIdEfMYWb7oDID04fZ7XztyfimT5SeBs4Xo7p3R7AaMw8BC5ZU4LQ13vJHZXLxRoi_oIIorzKIQ=w492-h638-no">
				</li>
<br>
					<p>Eloquent JavaScript by Marijn Haverbeke is probably the #1 most recomended book for beginners learning JavaScript, the
					language of the internet. I had a bit of trouble understanding it all right out of the gate, (JavaScript can be quite
					the cofusing language) but after completing a few online tutorials and then going back to it, it was much easier to
					pick up. If your dream is to be a web developer, I would recomend doing CodeAcademy's JavaScript course and maybe starting
					into FreeCodeCamp's JavaScript challenges and then coming back to this book.
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					</p>
<br>
				<li>
					<h2><a href="https://github.com/getify/You-Dont-Know-JS" target="_blank">You Don't Know JS (6 Books)</a></h2>
					<img class="book-pics" src="https://lh3.googleusercontent.com/OkHL9dquHm3nuy8Hl0F_VwodbuO01mSkclDaffOTvxMEj4Ingg9aSnMMJrWQu8qfG1uEHXPAp8VkHA0ANJA31avO06E-MarQbz9RB5g-Q-4TSQyj5N60MPXYUbV_iCPXoJeJfmt5xQniYvBF_rh6d6rV5tkxKMOaebUiPcUFz-KPDRjSleoQ0Aci0HMaQuqAxtm6hoT-laY4zEaq5CL3fwAdcU1A9muGq2cYMBS5iAKwSmfzj4HeTULJe2oCfmULo6YmZXY2wo6AwR54EcpamSeLNoetPcRYtP3tP4dZbb0e8Qew5F8_lKm8R7bBSWdBLy2NqWzawaNDjFO5HsukCdhmd8z6cbkmChoCgWyP5SKPJTecA_upKvTTBlvchj8NymKxPLnV4OEcMK6c2B2zsLpOlKHF6fK36-KeswPOGIUBASQxICNRwAMhms4BHFx6wQFAl6oWiQvIvHcISdMKTYpN32C3PtIhZSOcZTL3H3LF-ZytFa4M9c-pZlWcf83-tBY4_tdpWjt5h1HhREXRnLq3HjOSvHeCX_-4-ZDqmUCdNgMA_IQ8ehx4VyuZrIb98kzdiszCCKz2bhywSY7bGmVJ4ryuKoGOUTL-0HI=w487-h616-no">
				</li>
<br>
					<p>You Don't Know JS is actually a series of 6 books by Kyle Simpson. With book one he eases you into the JavaScript language,
					but after that WATCH OUT! He starts hitting on some deep and hard to understand, for a beginner, topics such as closures.
					It is also one of the most recomended series of books on JavaScript, but he wastes no time getting into advanced topics.
					So be sure you have at least a pretty solid grasp of vanilla JavaScript before you start getting to deep into this collection
					of books.
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					</p>
<br>
			</ol>
	</div>
</div>
</div>