
<body class="good-contact-body">
<nav class="navbar navbar-expand navbar-default navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        &ltCODING&gtKO&lt/.COM&gt
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "K.O.'s Tech Corner", blog_path %></li>
        <li><%= link_to "Daily Grind", grind_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Other Resources", tutorials_path %></li>
        <li><%= link_to "Contact Me", new_contact_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<div class="tear-away">
<img class="contact1" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1532290595/ContactMe.png" height="600px" width="750px">

<div class="email"><a class="email-me" href="mailto:kolsen86@yahoo.com"></a></div> 
<div class="answering-machine"> <img class="at-the-beep" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1532475003/leaveamessage.png" height="500px" width="900px"></div>
<div class="beep-form"><img class="beep" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1532475648/beep-form.png"></div>
</div>

</body>