<nav class="navbar navbar-expand navbar-default navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        &ltCODING&gtKO&lt/.COM&gt
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "K.O.'s Tech Corner", blog_path %></li>
        <li><%= link_to "Daily Grind", grind_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Other Resources", tutorials_path %></li>
        <li><%= link_to "Contact Me", new_contact_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<div class="container-fluid cementLights">
 <div class="container-fluid text-center">
<header class="grind-header">
    <h1>My Journey To Becoming A Web Developer</h1>
    <h3>and Other Musings and Insights Into the Life of Kenneth Olsen</h3>
</header>
 </div>
<main class="grind-main">
<div class="container text-center">
<h2 class="grind-h2">My Daily Grind</h2>

</div>
<div class="container">
<div class="grind-content">
<h4>Welcome</h4>
<p>I, Kenneth Olsen, WILL BECOME A FULL STACK WEB DEVELOPER.  I am going to complete the Odin Project.
I will attempt to remember to log my daily progress in this journal.  I decided to learn how to program about
3 months ago.  I started with Python and worked my way through quite a few tutorials and a couple books such as
"Learn Python 3 the hard way" by Zed Shaw and "Automate the boring stuff" by Al Swiegart.  I just kept getting
stuck with certain aspects of it all.  So, I decided to look at some other languages and settled on "Ruby".
It was enough like Python that I felt I was picking it up easy, but different enough to feel fresh.  Anyhow,
Trying to learn Ruby is what got me to The Odin Project.
</p>
<h4March 27, 2018></h4>
<p>Started Odin Project.  I have A windows machine and tried to set up the run Linux on windows option.
     WHAT A PAIN IN THE ASS!!
    I don't think I have it set up properly but time will tell.
</p>
<h4>March 28, 2018</h4>
<p>Set up my Git account and started my first repository.  Had some trouble, but i think iI figured it out.
Also completed some of the reading of the basics of HTML, CSS, JavaScript, and jQuery.
Starting the CodeAcademy intro to HTML.  That should keep me busy for a while.
Finished the CodeAcademy Intro to HTML in about an hour and a half.  Not nearly as long as I thought
it was going to be.  What a pleasant surprise.  Now to start on the CodeAcademy intro to CSS.
Hopefully it goes as quick and smooth as HTML.
</p>
<h4>March 29, 2018</h4>
<p>  Returned to work after my 2 days off.  I've also been doing every coding app for android I can get my hands on.
A good app is called Sololearn.  Ive completed the Python, Ruby, JavaScript, HTML, SQL, Java, and one more language
that I can’t think of at the moment.  But, now I'm back home and working on the intro to CSS on CodeAcademy again.
Just realized that I never actually finished the HTML on CodeAcademy.  They started making me try to pay for the
next portion yesterday, but today when I clicked it it let me start doing it again.  NOW the CodeAcademy HTML section
is done.  Back to work on the CSS section. Finally finished the intro to CSS.
</p>
<h4>March 30, 2018</h4>
<p>Just found out today that my grandmother doesn't have very long to live so I will not have the time to get in as
much work as I have been.  I am going to try to get an hour at least of practice in a night.  Tonight, I start the
HTML dog tutorial.  Wow that was a lot quicker than I thought it would be.  It was done in about a half hour.  I
actually, preferred that style of tutorial over the CodeAcademy one because you actually get to build the page.
I think when I have some extra time I'm going to build a blog for this instead of just recording it for myself.
Who knows, maybe if I'm successful with becoming a developer this journal could help out someone else that wants
to change careers.  Now to start on the HTML Dog CSS Beginner tutorial.  Well I am having issues all of a sudden
with getting my PC to load my files to the web-page, so I am going to have to come back to that tutorial.  Got
half way through the drawing the android bug tutorial, but I have to call it a night.
P.S.  I also did all my phone apps while at work.  You can pretty much count on that every day.
</p>
<h4>March 31, 2018</h4>
<p>Didn't actually get to work on The Odin Project at all today.  I had work in during the day and then after
work I went and spent time with my Grandmother who only has a few days left.  While I was at work I did put in
a couple hours of practice on my phone apps.  I also researched some blog tutorials so I can turn this into a blog.
Tomorrow I promise I'll be back at it though.  I actually did get a tiny bit of work in.  Not part of The Odin Project
though.  It’s a very cool website called Dash.  Basically, another walk-through of HTML and CSS but a very good one.
I would recommend it over CodeAcademy and HTML dog.
</p>
<h4>April 1st and 2nd, 2018</h4>
<p>Was sick the last few days so I haven't gotten too much done.  I did my apps while at work and briefly did some
reading and watched a few videos about HTML and CSS but that's about it.
</p>
<h4>April 3, 2018</h4>
<p>So, I have been doing a little research and I found a different course that I am going to do alongside the Odin Project.
It is called FreeCodeCamp, and it seems to have a lot of success stories.  I believe that the maker
of The Odin Project actually got his start from there, but don't quote me on that.  So, wish me luck!!!
Finished all of the HTML and CSS stuff.  Tomorrow I start on the jQuery.
</p>
<h4>April 4, 2018</h4>
<p>    Today was a lonnnnng day at work.  One of the reasons it was long is because I'm starting to get the itch to just
want to code all day.  I like that.  You can say you have a passion for this stuff all day, but once you get the itch
and it’s all you want to do I feel like that is really when "passion" is an acceptable word.  So, at work I did my usual
apps. I keep trying to find new and better ones, but all the actual good ones you have to pay for, so I find myself
going back over the topics I've already done. But, Oh Well.  Once I got home I started on the FreeCodeCamp. I finished
all the jQuery stuff and finished my first project, which was a tribute page for Winston Churchill. I think it went
pretty well, but we will see what kind of peer feedback I get.
</p>
<h4>April 5, 2018</h4>
<p>My Grandmother passed away today so I will not be getting much done while I get family stuff in order.
I did however do my normal apps at work.
</p>
<h4>April 6, 2018</h4>
</div>
</div>
</main>
</div>
