

 
  <nav class="navbar navbar-expand navbar-default navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        &ltCODING&gtKO&lt/.COM&gt
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "K.O. Tech Corner", blog_path %></li>
        <li><%= link_to "Daily Grind", posts_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Other Resources", tutorials_path %></li>
        <li><%= link_to "Contact Me", new_contact_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<div class=home-body>
 <header class="jumbotron text-center home-header">
 <h1 class="home-logo">&ltCODING&gtKO&lt/.COM&gt</h1>
 </header>

 <h3>Welcome Coders!</h3>
 <p>When I was first starting on my path to learning programming, I would waste half of my time simply looking through all the tutorials online.  There are hundreds, if not thousands of tutorials on every programming language you can imagine.  I always wanted a more time efficient way to find quality tutorials FAST!  There are plenty of sites that say that thier tutorials are the best, and I am sure that many of them start out with the intentions of making great tutorials.  However once you get started with them you find that they are only half done, or for old versions of that language, or incredibly boring.</p>
 <h3>Well I have sifted through all of the Garbage Tutorials, and have brought you only the BEST of the BEST</h3>
 </div>

    