
<nav class="navbar navbar-expand navbar-default navbar-static-top" role="navigation">
	<div class='container'>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to root_path, class: "navbar-brand" do %>
				&ltCODING&gtKO&lt/.COM&gt
				<% end %>
		</div>
		<div class="collapse navbar-collapse" id="main-nav-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "K.O.'s Tech Corner", blog_path %></li>
				<li>
					<%= link_to "Daily Grind", grind_path %>
				</li>
				<li>
					<%= link_to "About", about_path %>
				</li>
				<li>
					<%= link_to "Other Resources", tutorials_path %>
				</li>
				<li>
					<%= link_to "Contact Me", new_contact_path %>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
</nav>
<div class="container-fluid paid-path-body">
<div class="container-fluid paid-path-head-bg">
	<header class="container-fluid text-center paid-path-header">
			<h1>Paid Tutorials and Learning Pathways</h1>
	</header>
<div class="container tutorial-content">
	<div class="container paid-path-tutorials">
	<div class="paid-path-sidebar"></div>
		<h2>Paid Websites that seem Highly Recomennded, but I have not tried</h2>
<br>
		<p>For the most part, I have tried to stick to learning everything I can for free, but these paid sites seem to be highly
		recomended by other programmers and developers. So, if you have the cash to do it then go for it. Just make sure you
		do your research first.</p>
<br>
			<ul>
				<li>
					<h2><a href="https://scotch.io/" target="_blank">Scotch.io<br><br><br> <img class="paid-pics" src="https://lh3.googleusercontent.com/UUJhdGEXa_Kx2mzdi_Gx0e8Rgxb2ILL0ykoh7bV9kqxcNuK3bn4d1E79QLqpMmJzfrUi8fh9jWV9zwBA6M1aRuPBchZXYEHfChSm1hj38o96XdwVLzHKJ3lmE1d7cVFceyrpm4XtgE_cewIdrehbTBuSSlsYaIyTDCFJYOP5w0kTMozdKPN4cItY6O_JS9aWDqmJYo1prEcnRdG8EsK7cyzFCxpzvj61YutA0w7tZcv2UWb6V1QWMc1C9EfoCvOoanpmzVAzF8MNEqF2yoQUbyBfjoGx1KW_-p9ST_Oth2_l-A8Xf169IWJHdWUXLCLUaTYc5PGudkESqpls3zsW-bQX4rsuJITCzfM1IE_4iLS3KCPxSeq47RQuuHKcLEeqOtRrR26lQOZmXd3Ozkfs3kl0UPG3IRfEjZYHrfXUtmlUELLSj-_AawGPozwvMTT4-7izQPoFk5tkGYQJGNoSxzDyIry5Qzj3audxNNHIKUOvaFE1mmJOfzOmoi644Zh9-fNEgwOcsl2p2_Ghq-UwXVc2YqBZdMT5wtuxMYaV9y8c2qrBmWc0RPvvRNh4mNTR3iYCqKhcgOm-xyjIS-FpU-ujEuaUpSBBShNlEg0=w406-h500-no"></a></h2>
					
				</li>
<br>
				<li>
					<h2><a href="https://www.pluralsight.com/" target="_blank">PluralSight <br><br><br><img class="paid-pics" src="https://lh3.googleusercontent.com/Ns32EgkqMNqUHfFW9Zgw-vTNz10GWIpzlzDzn1y6AbCq0UQpoZwP6nMwp1JzyPJ7mZyWUE8aHcCL4lAWfxWAJYclZqexm38bv8YCPHvfkiTaqFKKWd3Ar-fQ5btJI94YFY_qZbO4pmW5gXTYVcv2D6MmVpdvkv42t28eYRnkzmuhKMXboNKNgLz9MGOXrg3D_5szfpssRuA-csY05_9H9r4F01yErU-ew-wwvO3Iq0_drcXivV33KAgfgWYsAsf9XNoz9ek28cqEZm5pNLujAEibZzOs-HAK0FwjXpEa_Fqe7YarWYmTj4PDE3D6s9D-v4T4eOrWhyVIR1TZbhdYZAkImx0Lj4qzmf-bP75_1oLQ9gooVfENHiZJz0fSJa4ssW0PmXC8vLMj73dqv3sEpND2-jGwnq3lZppgpJyeFCde8lfTyJJqMUvYgUCBdnd7CPcHma8cOk71WW2LgjceRh-JHU2b8Cyi7YwakZdUIzHApNYxiGzxVFqyp-Y4urGX_8tQXXzqCiqpQXicEmgIKitvLKd86H_ohrmc4kZhGtswYQPYmVOkAQjGioTK3nQmgJdhvObXseTs9OFRCCSvTJk6M4gxPMS6AAoba44=w562-h225-no"></a></h2>
					
				</li>
<br>
				<li>
					<h2><a href="https://www.codeavengers.com/" target="_blank">Code Avengers <br><br><br><img class="paid-pics" src="https://lh3.googleusercontent.com/lUTW3PD0BQcZMhLVbH_wsVxv5o3f3IIUCS0qBLZB18YMWpeykSIETZAP7U4ON66_SYKoKnMhYgcASdXloNSvyhptpeiYLsj1X8xxlaCUy6NoTVt4UloKUd5_ctOX1y3ohYMGGAk4DhzkkjhWztRskfutnYQtzNMNN04KhjGXMPFs8LqU8AFo4qvruTo8t5heoYhPZkraoDB1eE79psAI13Hci34lN_WTfTuGjzjvsPHCYCuXX_9MIxLSeE9bEnF4G6L2GVObpjcUIgnweFa9dUH0BAp1wC202_2ChcHAxhZYrtPwNgBNhfIoh2ss4rDzYiuFTAQ6O0LiE9dTvjzG3c7Ef1md5wNdq7VKdMTCnJEQbCPpobMsAQtFmbTiT6dKJCq4v0S_hf1SoP1jIhR3fUKig6crDm-vbXIKLrlGbqLPKu71xo5uOVIwjntMnZ2n1uhVdTondSWuROEex0S_tKAqzN_xMbMCupUNLyzs0ihUEeF5jLtJx6_FeUPqrqikgbbvecS03f_7qNICeiW6dh30EZH16LUEukgk-618HcobZGCX8_ZjljLggBHfVDnDtXAhvWqq7XRlYmrhPn38V4Mc9Z1bV88K6EKL_Z0=w514-h361-no"></a></h2>
					
				</li>
<br>
				<li>
					<h2><a href="https://teamtreehouse.com/" target="_blank">Team Treehouse <br><br><br><img class="paid-pics" src="https://lh3.googleusercontent.com/DlKwwc1gq9mh22Bct5K2oXxwiDs6q4g-AiMgDKEGH9Ue5G-28JgoKNnlrgigcv2jnClP9bY8tBZnBRNShhfllQ4A-LShzq4xHimR13Dx_Vn8ayKV_FIrte7WZnSpFygSuzNE334E4kHfjCyE0YnBZw0SWxyeSqSfE0rW0_i9-rb4ndlvOqo0yJ8gkJZbnXFV2OZg3o6h7zA96QZ5p91A0jqn3PW0TFra114CvF6VrH30ElekvV1s-ipvn8pORGuGxSlQMm-A458w50Q7nA-IvRvNppDr65V08Dh35AB2szZQ7g7lSmdSpNH22roQfLdkCZ6Bcrs-GoDPkQYJoq0FlvdNbZOZsKtWHE82Ur8k_X5OTTqE1TQtMpMw3pWDaSV2K1Iohkhb-XU9AmhSnfTgp7MWRX-9r8ecbxDQ84YOAt_nXh3BTi08zE61UYJloW6X7D__P5xqp3KDLCm6u_xQohnEAUIdsfvpqlseHKkb2N4duHNKSnwdqd95dLe89gcfh6QsgLdoehMwFugRyR-JJYNv0kE9KX9Lv3DH1voKttDSK0FCHNvM1y6Lwo9TkO-PsB_6SkrpjIB58fH2gM7o6ZR-3VMzzgxFN0D-a0M=w665-h376-no"></a></h2>
					
				</li>
<br>
				<li>
					<h2><a href="https://www.lynda.com/" target="_blank">Lynda.com <br><br><br><img class="paid-pics" src="https://lh3.googleusercontent.com/PYJKlZS32l9UA95ASZ4tXa8268zACd_FkkNebGztOONEFt8IMhyZOnYQ1Iou8wvH1NoJfeoiCmyrvvn9z0d2jssDXBDgyXg1Gr71TIW25WAWMUO1NQ4AanqfU5XQq4nYT2-sOF3-X6f2iiJ6Bays8gKdeSdzLc3F9YshP8WkiznwNW1SFRKyFIIB8TaBLCU5np2dWM6yx1GGpQjQrp7amf9-8Iq3FoH7CHMtDYY3wk45D9s0ncgTWL6h--24Xq4FoTyHE3Y9WT3FGUSNyG8w_4RMi0tyWRPFmZgHG5hwQDEaOp0KNzXx-qElD2Qy-aC_jBZvS0F5Otit6ccFZxAvxRw5EKjhnzSHjr36LLq-UR-sjKzTJQGA9KgY7t7H7OppC9bnBA_JFri9ED6YiqVhsmIGc8ysuNe8VtbF2EeZX3hABhhLWQMv2GUApwynqigzFWnBWjftYhtfLZ2GM0YhlHcLeVvvRxs0OPpa9QbDRN6Pehlj9jEHgPPi3FxP7VJeuRueeoRtv1ldyiafuh1SUO8lA-J2HDnyxN1ZFZuF-8jBaIjnC32z8X3wGHT06huYpn_FHpi7sdINIcAUIxeX_jx7ErcKaEL7a7Qz1WQ=w600-h300-no"></a></h2>
					
				</li>
<br>
			</ul>
	</div>
	<div class="container paid-path-tutorials">
		<h2>Learning Pathways</h2>
<br>
		<p>These Sites provide some other quality tutorials and links to other ones. They also tell you the order in which you should
		complete the tutorials. Basically the same thing I am doing here only with thier own set of tutorials to follow.</p>
<br>
			<ul>
				<li>
					<h2 class="path-head"><a href="https://www.theodinproject.com" target="_blank">The Odin Project</a></h2>
					<img class="path-pics" src="https://lh3.googleusercontent.com/-O0Jzcv5jTdq0nt76lHYldrHbKEugBtnyCxd6RoWdR6U5CjXbJnhl1gLekTrIuX6YOOPO4t28NE-GADr0hO8oc3Dmgk03_2JPfMwuhUYH70HzbGXqk_kPlhz4db_P5JZaPMAzRrRBopy6P3guzbl4zzGPBSaSij5Szj-Lsuj5FFS1Irh5TjX5J0Lh5CNtX6gqoim49ey05UvNM1u3jtw5CYxesiadr4MWv3GkZej2gGXm4K_fuSJpSMt0x9eCxdz52Jp4Op-lPzpujkGbTgGxoxqeU9sTS12TtElYDs_eDdtq4ZQ6KaxJU3nT8IJrgbmtnh_Tk6j0LmUM_cxP3A0eILYp1Zjixf2SXXeGGOkdNU-yjsNRX6MG_GcmOg79bfSZDC-1t4Q8d5hJZFFXn2-jrYJxoPxPHGFJ0EA3IUbEzW_Dv_kppbtqsSdDcjGGbBZFAKks9WlDPI16PW9rZWxtY1rZIoB3CYUMLriHwPKaEceLqiuD0wowMb2BGoPhLEYDRjxiD5sNLklf3G_ubddyItYL2pCT6oYNTTFxitLNPn6tQ9qcsSJ_SYd3yUyskFtm6dMFLqMBk2G8u-_5ZLEtsqaSyAeFS2tn_5p5PE=w602-h239-no">
				</li>
<br>
				<p>The Odin project was actually provided me the very first pathway that I have done.  It has a ton of quality tutorials, but some of them are kind of dated.  Check them out, but make sure you stay tuned to codingko as I am in the process of making a step by step pathway for beginners myself.</p><br> 
				<li>
					<h2 class="path-head"><a href="https://bento.io/" target="_blank">Bento.io</a></h2>
					<img class="path-pics" src="https://lh3.googleusercontent.com/C7mlltfHJB_F3NAWicy2LEHUuJnBLpGDMz6K-7bD9TPhTODN7sIMVRUYhJLRI3uKzR1R80XrlBmbS2YlneY7xLHvj8VsAz_KGXzfyQKirBlFxH3WPY-7f1oDkNPL2tmaK_Wcy1jTJ1L3wftogLRcvosSTYTpiTcJVIQz-aKf81wdgg8K5CT4ZnW0WMJlAWTP1zoORkr_iEVOazUvZtUbd5b46ACT4zGW7B4LYnvCnhOmGKinZhkqLQCyoGyOPkGyGN3Zxm-uVDR7HVPCZyeVAdfTWR5VYcV_4k5mD-dLVfs16zdUUI9jvgJV30ysN1AWIz-8ZTXJAPDbOszpab11c8shZG6caB4tq1OdWXJG32xnu4XG_rnNze3nT6JOjgKeXMReN61114Ac3tSfW0VNMzRR2gzlf9lgGA65hNmNVzvZpt4rQ_iJhtn2GNaLhoQIm4JZsU9cgbkzsti89Pjl8R2mZTWzOZCqDdnTqxPVlQQIAx4834cP9Kf34b8ffNA3K9k3vUJUfB_L7-HM2quczK9hCWGtVP6qjypXgXGTm7_fSbxqQVM710QI5C4x6kz51iO5igzEH0L65FZsRTr9HJ3Ky6tX50HQ2HauPJA=w500-h468-no">
				</li>
<br>
				<p>Bento.io is very similar to the Odin Project.  I have not gone all the way through thier pathway, and it has been awhile since I took a look, but I remember it having some quality material to go through.  As I said above though, stay tuned to codingko as I am working on a pathway for beginners as well.<br><br><br><br><br><br><br><br></p>
			</ul>
	</div>
</div>
</div>