<!doctype html>

<head>
	<% title 'Paid Tutorials and Learning Pathways' %>
	<% description 'Do you burn 100$ bills to stay warm? Then check out these paid web development and computer programming tutorials. They are a much better use for your money.' %>
	<% keywords 'codingko, web development, computer programming, development, programming, tutorials, web development tutorials, html, css, javascript, ruby, ruby on rails, python, path, pathways, learn, learning' %>

</head>

<div class="paid-path-body">

	<header>
		<h1 id="paid-path-head">Paid Tutorials and Learning Pathways</h1>
	</header>

	<ul class="paid-path-menu">

		<li>
			<%= link_to "Tutorials Home", tutorials_path %>
		</li>

		<li>
			<%= link_to "Interactive Tutorials", inttutorials_path %>
		</li>

		<li>
			<%= link_to "Book Tutorials", booktutorials_path %>
		</li>

		<li>
			<%= link_to "Video Tutorials", videotutorials_path %>
		</li>

		<li class="slider"></li>

	</ul>

	<ul class="paid-path-menu2">

		<li>
			<%= link_to "MOOC Tutorials", mooctutorials_path %>
		</li>

		<li>
			<%= link_to "Paid Tutorials & Pathways", paidtutorialsandpath_path %>
		</li>

		<li>
			<%= link_to "Reference & Questions", referanceandquestions_path %>
		</li>

		<li>
			<%= link_to "Useful Tools", tools_path %>
		</li>

		<li class="slider2"></li>

	</ul>

	<div id="paid-path-tuts">

		<h2 id="paid-intro-header">Paid Websites that seem Highly Recommended, but I have not tried</h2>

		<div id="paid-intro">

			<p>
				For the most part, I have tried to stick to learning everything I can for free, but these paid sites seem to be
				highly recommended by other programmers and developers. So, if you have the cash to do it then go for it. Just make
				sure you do your research first.
			</p>

		</div>

		<div id="paid-content">

			<ul>

				<li>

					<h2><a href="https://scotch.io/" target="_blank" rel="noopener">
							Scotch.io
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579247/scotch_io-min.png" alt="a dark picture of a cup with liquid.  Text underneath says code on the rocks"
					 title="On the rocks please">


				</li>

				<li>

					<h2><a href="https://www.pluralsight.com/" target="_blank" rel="noopener">
							PluralSight
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579246/pluralsight.png" alt="pluralsight logo"
					 title="Double Vision!">


				</li>

				<li>

					<h2><a href="https://www.codeavengers.com/" target="_blank" rel="noopener">
							Code Avengers
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579245/codeavengers.png" alt="picture of the name code avengers made to look like the avengers logo, with text underneath that says Be a coding superhero"
					 title="They are the real heroes. It is a shame Disney has not included them in a Marvel movie...Yet.">


				</li>

				<li>

					<h2><a href="https://teamtreehouse.com/" target="_blank" rel="noopener">
							Team Treehouse
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579222/Treehouse-min.png" alt="the Team Treehouse logo"
					 title="Just do not use this and pluralsight at the same time or you could fall and hurt yourself!!">


				</li>

				<li>

					<h2><a href="https://www.lynda.com/" target="_blank" rel="noopener">
							Lynda.com
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579222/lynda.png" alt="The lynda logo which is bright yellow with a woman reading a book"
					 title="A 'Y' instead of an 'I'?  What will they think of next?">


				</li>

			</ul>

		</div>

		<h2 id="path-intro-header">Learning Pathways</h2>

		<div id="path-intro">

			<p>
				These Sites provide some other quality tutorials and links to other ones. They also tell you the order in which you
				should complete the tutorials. Basically the same thing I am doing here only with their own set of tutorials to
				follow.
			</p>

		</div>

		<div id="path-content">

			<ul>

				<li>

					<h2><a href="https://www.theodinproject.com" target="_blank" rel="noopener">
							The Odin Project
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579247/theodinproject-min.png" alt="The Odin Project logo.  Which is just the name The Odin Project and a cartoon looking image of the Norse god Odin"
					 title="Has the potential to be stronger than ALL of the CodeAvengers">

					<p>
						The Odin project was actually provided me the very first pathway that I have done. It has a ton of quality
						tutorials, but some of them are kind of dated. Check them out, but make sure you stay tuned to codingko as I am
						in the process of making a step by step pathway for beginners myself.
					</p>

				</li>

				<li>

					<h2><a href="https://bento.io/" target="_blank" rel="noopener">
							Bento.io
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579221/bento-min.png" alt="A picture of a laptop computer and a cellphone on a desk.  There is a multicolored box in front of it with text next to it reading Bento.io"
					 title="Bento, The Freshmaker">

					<p id="bento">
						Bento.io is very similar to the Odin Project. I have not gone all the way through their pathway, and it has been
						awhile since I took a look, but I remember it having some quality material to go through. As I said above though,
						stay tuned to codingko as I am working on a pathway for beginners as well.
					</p>

				</li>

			</ul>

		</div>

	</div>

</div>
