
<nav class="navbar navbar-expand navbar-default navbar-static-top" role="navigation">
	<div class='container'>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to root_path, class: "navbar-brand" do %>
				&ltCODING&gtKO&lt/.COM&gt
				<% end %>
		</div>
		<div class="collapse navbar-collapse" id="main-nav-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "K.O.'s Tech Corner", blog_path %></li>
				<li>
					<%= link_to "Daily Grind", grind_path %>
				</li>
				<li>
					<%= link_to "About", about_path %>
				</li>
				<li>
					<%= link_to "Other Resources", tutorials_path %>
				</li>
				<li>
					<%= link_to "Contact Me", new_contact_path %>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
</nav>
<div class="container-fluid tutorials-body">
	<header class="container-fluid text-center tutorials-header">
		<!--<img src="http://www.chicagonow.com/chicago-creepout/files/2014/09/Zombie2.png" class="zombie" height="200px" width="200px">-->
			<h1>Grow Your Brains With These Tutorials and other Learning Resources</h1>
	</header>
<div class="container tutorial-content">
	<span class="paid-tutorials">
		<h2>Paid Websites that seem Highly Recomennded, but I have not tried</h2>
<br>
		<p>For the most part, I have tried to stick to learning everything I can for free, but these paid sites seem to be highly
		recomended by other programmers and developers. So, if you have the cash to do it then go for it. Just make sure you
		do your research first.</p>
<br>
			<ul>
				<li>
					<a href="https://scotch.io/" target="_blank">Scotch.io</a>
					<br>
				</li>
<br>
				<li>
					<a href="https://www.pluralsight.com/" target="_blank">PluralSight</a>
				</li>
<br>
				<li>
					<a href="https://www.codeavengers.com/" target="_blank">Code Avengers</a>
				</li>
<br>
				<li>
					<a href="https://teamtreehouse.com/" target="_blank">Team Treehouse</a>
				</li>
<br>
				<li>
					<a href="https://www.lynda.com/" target="_blank">Lynda.com</a>
				</li>
<br>
			</ul>
	</span>
	<span class="pathways">
		<h2>Learning Pathways</h2>
<br>
		<p>These Sites provide some other quality tutorials and links to other ones. They also tell you the order in which you should
		complete the tutorials. Basically the same thing I am doing here only with thier own set of tutorials to follow.</p>
<br>
			<ul>
				<li>
					<a href="https://www.theodinproject.com" target="_blank">The Odin Project</a>
				</li>
<br>
				<p>The Odin project was actually provided me the very first pathway that I have done.  It has a ton of quality tutorials, but some of them are kind of dated.  Check them out, but make sure you stay tuned to codingko as I am in the process of making a step by step pathway for beginners myself.</p><br> 
				<li>
					<a href="https://bento.io/" target="_blank">Bento.io</a>
				</li>
<br>
				<p>Bento.io is very similar to the Odin Project.  I have not gone all the way through thier pathway, and it has been awhile since I took a look, but I remember it having some quality material to go through.  As I said above though, stay tuned to codingko as I am working on a pathway for beginners as well.
			</ul>
	</span>
</div>
</div>