<!doctype html>
<head>
	<% title 'Reference and Question Asking' %>
	<% description 'A list of the best places to look for computer programming and web development references.  Also a list of the best places to ask other programmers and web developers questions, when your stuck on a particularly hard problem.' %>
	<% keywords 'codingko, web development, computer programming, development, programming, tutorials, web development tutorials, html, css, javascript, ruby, ruby on rails, python, questions, reference, learn, learning, asking' %>
</head>

<div class="ref-quest-body">

	<header><h1 id="ref-quest-head">Reference Material and Where to Go to Ask Questions</h1></header>

	<ul class="ref-quest-menu">

		<li><%= link_to "Tutorials Home", tutorials_path %></li>

		<li><%= link_to "Interactive Tutorials", inttutorials_path %></li>

		<li><%= link_to "Book Tutorials", booktutorials_path %></li>

		<li><%= link_to "Video Tutorials", videotutorials_path %></li>

		<li class="slider"></li>

	</ul>

	<ul class="ref-quest-menu2">

		<li><%= link_to "MOOC Tutorials", mooctutorials_path %></li>

		<li><%= link_to "Paid Tutorials & Pathways", paidtutorialsandpath_path %></li>

		<li><%= link_to "Reference & Questions", referenceandquestions_path %></li>

		<li><%= link_to "Useful Tools", tools_path %></li>

		<li class="slider2"></li>

		</ul>

		<div id="ref-quest-tuts">

			<h2 id="ref-intro-header">Reference Material</h2>

			<div id="ref-intro">

				<p>
					These websites will be able to assist you when you need to know more about certain aspects of your code or design.
				</p>

			</div>

				<div id="ref-content">

					<ul>

						<li>
							<h2><a href="https://www.codenewbie.org/" target="_blank" rel="noopener">
								Code Newbie
							</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579245/codenewbie.png" alt="CodeNewbie Logo">

								<p>
									CodeNewbie is, as the name implies, friendly to beginners to programming and development. They offer a quality blog and podcast, as well as links to many other tutorials and other websites for beginners to coding.
								</p>

						</li>

						<li>
							<h2><a href="https://hackr.io/" target="_blank" rel="noopener">
								hackr.io
							</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579245/hackr-min.png" alt="Hackr.io Logo" title="Hacker.io must have been taken.">

								<p>
									The website hackr.io is one of my favorites. It's simply a website that has a community that ranks tutorials for every programming language and framework you could imagine. They then list these ranking out for you according to what language you want to learn. It is a very nifty site.
								</p>

						</li>

						<li>
							<h2><a href="https://www.w3schools.com/" target="_blank" rel="noopener">
								W3 Schools
							</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579248/w3schools-min.png" alt="W3Schools Logo" title="A GIANT set of reference material.">

								<p>
									This is the ultimate reference site for programming and development. It is set up in a tutorial format, but I would recommend against using it as a tutorial simply because they don't go into that much depth with any one thing. As far as a reference site though, they have a short description for every little thing you could ever want to know about development and programming. When you finally start on your first few projects on your own, trust me, you will be visiting this site a lot.
								</p>

						</li>

						<li>
							<h2><a href="https://developers.google.com/" target="_blank" rel="noopener">
								Google Developers
							</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579221/google-min.png" alt="Google Developer Launchpad Logo" title="It's from Google, so you know it has to be good.">

								<p id="google">
									Google developers actually offers more than just reference material. One thing they are particularly good at though, is API's. So if you need info on API's this is the place to go.
								</p>

								</li>

								<li>
									<h2><a href="https://developer.mozilla.org/" target="_blank" rel="noopener">
										MDN
									</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579221/mdn.png" alt="Mozilla Developer Network Logo" title="The GO TO reference for Web Development.">

									<p id="mozilla">
										Mozilla's developer network (MDN) is, along with W3 Schools, is one of the best sites for reference. As you go through these tutorials you will actually see it referenced quite a bit. Like W3 Schools, they also have the information set up as a tutorial, but it is probably better used as a reference for when your stuck on a frustrating problem.
									</p>

								</li>

					</ul>

				</div>

				<h2 id="quest-intro-header">Where to go to ask Questions</h2>

				<div id="quest-intro">

					<p>
						When you are stuck and the reference material can't even help you. These websites are full of programmers and developers that almost always will have the solution to your problem. As a matter of fact, most questions have already been asked and answered and you will be able to get your answer from that. Make sure you read the sites rules though. Some of them want you to ask questions in a certain way and have your code ready for them to look at. Actually just check out this website <a class="quest" href="http://www.catb.org/~esr/faqs/smart-questions.html">"How to ask a good  question"</a> and you should be all set with any of these sites.
					</p>

				</div>

				<div id="quest-content">

					<ul>

						<li>

								<h2><a href="https://stackoverflow.com/" target="_blank" rel="noopener">
									Stack OverFlow
								</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579221/stackoverflow-min.png" alt="StackOverflow Logo" title="Very intelligent people here.">

							<p>
								Stack-Overflow is normally the go to site for getting your coding questions answered. They have some guidelines for posting your question though. So just make sure you check out <a class="quest" href="https://stackoverflow.com/help/how-to-ask">the how to ask a question page before you post it. The people there will not answer your question unless you follow it.</a>
							</p>

						</li>

						<li>

								<h2><a href="https://www.quora.com" target="_blank" rel="noopener">
									Quora
								</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579246/Quora.png" alt="Quora Logo" title="Exactly like Twitter, only for asking questions.">

							<p>
								Quora is one of my personal favorites for asking questions. You don't have to ask a programming or development question either, it can be about absolutely anything. They do have a large community of developers and programmers though that you have the option to ask specific people if you wish too. This is another site that you have to think out your question too, but not for the same reasons as Stack-Overflow so much, but because Quora is set up like Twitter and you have to keep your question under 140 characters.
							</p>

						</li>

						<li>

								<h2><a href="https://www.reddit.com/r/programming" target="_blank" rel="noopener">
									Reddit
								</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579221/reddit.png" alt="Reddit's subreddit for programmings logo" title="If Quora is Twitter, then this is FaceBook.">

							<p id="reddit">
								Reddit's subreddit programming is another great resource for getting questions answered. They don't list out rules for asking questions like the previous sites, but to get better answers you should still follow the <a class="quest" href="http://www.catb.org/~esr/faqs/smart-questions.html">"How to ask a good question" guide.</a>
							</p>

						</li>

					</ul>

				</div>

		</div>

</div>
