<!doctype html>
<head>
	<% title 'Tools for Web Development and Computer Programming' %>
	<% description 'The best tools, generators, text-editors, and IDEs available online for any language or technology' %>
	<% keywords 'codingko, web development, computer programming, development, programming, tutorials, web development tutorials, html, css, javascript, ruby, ruby on rails, python, web development tools, programming tools, tools ,learn, learning' %>

</head>

<div class="tools-body">

		<header><h1 id="tools-head">Useful Tools</h1></header>

		<ul class="tools-menu">

			<li><%= link_to "Tutorials Home", tutorials_path %></li>

			<li><%= link_to "Interactive Tutorials", inttutorials_path %></li>

			<li><%= link_to "Book Tutorials", booktutorials_path %></li>

			<li><%= link_to "Video Tutorials", videotutorials_path %></li>

			<li class="slider"></li>

		</ul>

		<ul class="tools-menu2">

			<li><%= link_to "MOOC Tutorials", mooctutorials_path %></li>

			<li><%= link_to "Paid Tutorials & Pathways", paidtutorialsandpath_path %></li>

			<li><%= link_to "Reference & Questions", referanceandquestions_path %></li>

			<li><%= link_to "Useful Tools", tools_path %></li>

			<li class="slider2"></li>

			</ul>

			<div id="tools-page">

				<h2 id="tools-intro-header">Useful Tools for Programming and Development</h2>

				<div id="tools-intro">

					<p>
						The right tools can make or break a programmer or developer.  They can cut your time spent developing in half, solve common issues, or make your product really stand out.  There are tools for every language and technology.  This list will be continuously upgraded as I find tools that will help to make your (and my) life easier.
					</p>

				</div>

					<div id="tools-content">

					<h2 id="tools-intro-header1">Text-Editors and IDEs (Integrated Development Environments)</h2>

					<div id="tools-intro1">

						<p id="editor-intro">
							A necessary tool in any programmers toolbox, text-editors and IDEs are where you will do most of your programming.  There are both downloadable text-editors or IDEs and ones you can use in your browser online. There are also free or paid versions of both.  Ass a beginner, I would recommend using the free ones, but as you progress, if you would like to try out a paid one that has more bells and whistles, then more power to you.  Briefly, I would like to point out the difference between an IDE and a text-editor.  A text-editor is sort of general purpose. It can be used for multiple languages through the use of plug-ins.  It can also be used for debugging and compiling with the right plug-ins, but none of these features come with it.  An IDE, on the other hand, is usually geared towards a particular language and comes with all the extensions, debuggers, and compilers among other things, that you would ever need for that particular language.  IDEs, also, usually have a much larger file size, and depending on your machine can be slow and laggy.  Ok!  Enough with the intro's.  Let's get into some tools.<br> <span>*As a side note, many of these offer the same features.  It is totally up to the programmer, which to use.  So, I am only going to give a description if there is some feature that sets it apart from the others.*</span>
						</p>

					</div>

						<ul>

							<li>

									<h2><a href="https://code.visualstudio.com/" target="_blank" rel="noopener">
										Visual Studio Code
									</a></h2><img class="floated" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579248/vscode-min.png" alt="Visual Studio Code Logo" title="My personal favorite.">


									<p>
										Visual Studio Code is my personal favorite.  It has all the feature you could ever want, and if they don't provide the feature, you can pretty much guarantee there is a extension for it.  It has the features like autocomplete and intellisense and is highly customizable.  Plus, Microsoft updates it pretty regularly with new features.
									</p>

							</li>

							<li>
									<h2><a href="https://www.sublimetext.com/" target="_blank" rel="noopener">
										Sublime Text
									</a></h2><img class="floated" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531606572/sublime.jpg" alt="Sublime Text Logo" title="Highly recommended">

									<p>
										Sublime text is the editor that I most see recommended.  I have used it, and functionally, it and Visual Studio Code are equals.  It offers many of the same plug-ins and features, so it's all preference with these.
									</p>

							</li>

							<li>

									<h2><a href="https://atom.io/" target="_blank" rel="noopener">
										Atom Text Editor (Made by GitHub)
									</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618310/atom.png" alt="Atom Logo" title="By the people at GitHub">

							</li>

							<li>

									<h2><a href="https://notepad-plus-plus.org/" target="_blank" rel="noopener">
										NotePad++ (only for Windows)
									</a></h2><img class="floated" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/notepad.png" alt="NotePad++ Logo" title="Barebones text-editor">

									<p>
										Notepad++ is a pretty bare bones text-editor.  It does have plug-ins available for it, but not nearly as many as some of the others.  If simplicity is your thing, then Notepad++ is for you.
									</p>

									</li>

									<li>

											<h2><a href="brackets.io/" target="_blank" rel="noopener">
												Brackets (Made by Adobe)
											</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618310/brackets.png" alt="Brackets Logo" title="By the people at Adobe">

									</li>

									<li>

											<h2><a href="https://netbeans.org/" target="_blank" rel="noopener">
												NetBeans
											</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/netbeans.png" alt="NetBeans Logo" title="I heard it makes you fart!">

											<p>
												Go back to this.  Also add Eclipse and Visual Studio
											</p>

									</li>

									<li>

											<h2><a href="https://codepen.io/" target="_blank" rel="noopener">
												Code Pen
											</a></h2><img class="floated" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/codepen.png" alt="Codepen Logo" title="Great place for inspiration too!">

											<p>
												Code Pen is our first online text-editor.  These are usually only for developing in HTML, CSS, and JavaScript.  They don't allow for plug-ins, but they do come with some extra features.  Code Pen is the most used of the online editors and is a fantastic product for whipping up some fast code.
											</p>

									</li>

									<li>

											<h2><a href="https://jsfiddle.net/" target="_blank" rel="noopener">
												JS Fiddle
											</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/jsfiddle.png" alt="JS Fiddle Logo">

									</li>

									<li>

											<h2><a href="http://jsbin.com/?html,output" target="_blank" rel="noopener">
												JS Bin
											</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/jsbin.png" alt="JS Bin Logo">

									</li>

									<li>

											<h2><a href="http://plnkr.co/" target="_blank" rel="noopener">
												Plunker
											</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/plnkr.png" alt="Plunker Logo">

									</li>

									<li>

											<h2><a href="https://codeanywhere.com/" target="_blank" rel="noopener">
												CodeAnywhere
											</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618310/codeanywhere.png" alt="CodeAnywhere Logo">

									</li>

									<li>

											<h2><a href="https://c9.io/login" target="_blank" rel="noopener">
												Cloud 9
											</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618310/cloud9.png" alt="Cloud 9 Logo">

									</li>

						</ul>

				<div id="html-tools">

						<h2>HTML Tools</h2>

					<div id="html-tools-intro">

						<p>
							Compared to other languages and web standards, HTML does not have alot of tools available.  There is "What You See Is What You Get"(WYSIWYG) editors, but not a whole lot after that.  WYSIWYG editors are, to me at least, all sort of the same, so I will not spend much time going over them.  Let's hop into some HTML tools and see what we have.
						</p>
					</div>

					<h2>What You See Is What You Get editors</h2>

						<ul id="wysiwyg">
							<li>

								<h3><a href="https://www.adobe.com/products/dreamweaver.html" target="_blank" rel="noopener">Adobe Dreamweaver</a></h3><img class="floater" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1537910195/Dreamweaver.jpg" alt="Adobe Dreamweaver logo">

								<p>
									Adobe's Dreamweaver is one of the aformentioned "What You See Is What You Get" editors.  It is also, in my opinion, the best one.  Dreamweaver allows people with no coding skills to build websites visually instead of completly coding one from scratch.  However, Dreamweaver, also allows you to code with programming languages, if you so choose.  It has been around for quite some time and is one of the most well know "WYSIWYG" editors available today.  It is very feature-rich and can be intimidating for a beginner, but Adobe offers many tutorials to get you started.  A big drawback with this program is the fact that it is only available in Adobe's Creative Cloud.  So, you will need to pay a monthly subscription to use it.  If you have the cash, and don't want to learn how to program, then you can't go wrong with Dreamweaver.
								</p>
							</li>

							
								<p>
									Dreamweaver is only one of many "WYSIWYG" editors available and since I think it's the best one, it gets the top spot.  Some of the other notable "WYSIWYG" editors include,
								</p>
							

							<li>
								<h4><a href="http://muse.adobe.com/" target="_blank" rel="noopener">Adobe Muse</a></h4>
							</li>
							<li>
								<h4><a href="http://bluegriffon.org/" target="_blank" rel="noopener">BlueGriffon</a></h4>
							</li>
							<li>
								<h4><a href="https://ckeditor.com/" target="_blank" rel="noopener">CKEditor</a></h4>
							</li>
							<li>
								<h4><a href="https://www.google.com/webdesigner/" target="_blank" rel="noopener">Google Web Designer</a></h4>
							</li>
							<li>
								<h4><a href="https://www.froala.com/wysiwyg-editor" target="_blank" rel="noopener">Froala Editor</a></h4>
							</li>
							<li>
								<h4><a href="https://webflow.com/" target="_blank" rel="noopener">Webflow</a></h4>
							</li>
							<li>
								<h4><a href="https://www.seamonkey-project.org/" target="_blank" rel="noopener">SeaMonkey Composer</a></h4>
							</li>
							<li>
								<h4><a href="http://maqetta.org/" target="_blank" rel="noopener">Maqetta</a></h4>
							</li>
							<li>
								<h4><a href="https://www.silex.me/" target="_blank" rel="noopener">Silex Website Builder</a></h4>
							</li>
						</ul>

						<img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1537910473/HTMLMinifier.jpg" alt="HTML5 logo inside of a vice grip">
						
						<h2>HTML Minifiers</h2>
						<p>
							Once you have completed your website and are getting ready to put it online, you are going to want to get the very best performance you can get.  Every little thing you can do to maximize the perfomance of your website is important.  This is includes minifying your code.  Minifiers take your code and take out all of the whitespace.  So, every space, every indent, and every line break is removed.  This makes it incredibly difficult to understand, but gives you a nice little performance boost.  There are many of these available online or for download.  Also, only use the minifiers after you have completed your website.
						</p>

						<ul>
							<li>
								<h3><a href="http://minifycode.com/html-minifier/" target="_blank" rel="noopener">Minify Code</a></h3>
								<p>At minifycode.com you simply copy and paste your HTML from your text editor to the website.  It will then go through and take out all the white-space, giving your website a smaller payload in the process.  Minify Code also has minifiers for CSS and JavaScript, so you can minify your whole website right from their website.  They also have a Beautifier available for HTML, CSS, and JavaScript.  The beautifier does the opposite to your code and puts back all the white-space, as well as properly indents it and adds line breaks to make your code look, well, beautiful.</p>
							</li>
							<li>
								<h3><a href="https://kangax.github.io/html-minifier/" target="_blank" rel="noopener">HTML Minifier</a></h3>
								<p>HTML Minifier, by Kangax, is available for use online or can be downloaded from various package managers and ran from the command line.  This minifier has all of the same functionality of "Minify Code", but comes with many more options.  It is the best at what it does (minify code) and in benchmark tests verse other minifiers, compressed everything a bit more.  If you are a beginner, don't be intimidated by it's options and just use it as a plain old minifier, than you will be just fine.</p>
							</li>

						</ul>
					</div>
					
					<div id="css-tools">

							<h2>CSS Tools</h2>

						<div id="css-tools-intro">
							
							<p>
								Unlike HTML, CSS has a boat load of helpful tools available for it.  These tools can help you with everything from picking the perfect color, to picking the perfect color pallete, to creating beautiful gradients for you, to creating animations for you.  Since there are so many high quality CSS tools available to anyone that wants to use them, I am going to list 3 a week.  So, check back every Tuesday for an updated list.  I have seperated the CSS tools in order of usage.  So, for instance, if you want to find tools that will help with colors, gradients, color palletes, etc, check in the colors section.  If you want tools to help with animations, check in the animations section, and so on and so forth.
							</p>
						</div>

								<h2>Colors</h2>
								
								<h3 id="color-pickers">Color Pickers</h3>

								<div  id="color-picker-intro">

								<p>
									Color pickers are absolutly vital to any web developer or designer.  There are thousands of colors in the spectrum, and these color pickers will help you find the perfect one.  Many of these come with extra features for making gradients or color palletes.  Some of them are feature rich and not necassarily recomded for novices, while some of them are just super simple color pickers.  Any way you look at it, a good color picker is an essential tool in any developer or designers toolbox.
								</p>

								</div>

								<ul>
									<li>
										<h3><a href="https://www.webpagefx.com/web-design/color-picker/" target="_blank" rel="noopener">Web Page FX</a></h3><img class="floater" src="https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,w_413/v1538010184/webpagefxlogo.png" alt="WebPageFX logo">
										<p>
											Web Page FX's color picker is very simple and efficient.  It gives you a slider on the side to pick your color, and a box in the middle to pick the shade.  With their color picker you can also save a few of your colors and have them generate a simple color scheme for you.  Other than just straight up color pickers, this is as simple as it gets.
										</p>
									</li>

									<li>
										<h3><a href="http://hslpicker.com/" target="_blank" rel="noopener">HSL Color Picker</a></h3><img class="floater" src="https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,w_393/v1538009991/Color_circle__hue-sat.png" alt="Image of a color wheel">
										<p>
											HSL color picker is slightly different than a regular color picker.  HSL stands for Hue, Saturation, and Lightness.  So, it still allows you to pick your color, but it also allows you to pick how opaque it will be.  Opaque is transparency.  If you want something to show through a background color, you would want to set the opaqueness of it low.  Anyways, this is another very simplae one.  All it does is let you pick colors and how opaque you want them, then generates the code for you to insert into your CSS stylesheet.
										</p>
									</li>

									<li>
										<h3><a href="https://color.hailpixel.com/" target="_blank" rel="noopener">ColorDot</a></h3><img class="floater" src="https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,w_330/v1538009990/colordot-icon.png" alt="HailPixel logo">
										<p>
											ColorDot is a little different than the other 2.  It is still a simple color picker, but instead of having a box with shades or a slider to pick your color, you just move your mouse curser around the screen and it randomly generate different colors and shades as you move it.  If you are unsure about what color you really want, then this could be a pretty cool little tool.
										</p>
									</li>

									<li>
										<h3><a href="https://electronjs.org/apps/colorpicker" target="_blank" rel="noopener">Electron JS Color Picker</a></h3><img class="floater" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1538009976/electronjs.webp" alt="Electron JS logo">
										<p>
											ElectronJS Color Picker is my favorite.  It has 2 versions, an online color picker and a downloadable one.  It offer the same features as the others pplus some.  If you have the downloadable version, as I do, than you can drag and drop the color you want right into PhotoShop or whatever photo editing software you use.  It also gives you a color book, to save all the colors that you like, as well as many other features.  It is about as full of features as your going to get for a color picker.
										</p>
									</li>
								</ul>

								<h2>Gradient Generators</h2>

						<div id="gradient-intro">

							<p>
								Gradients can take a plain website and make them look amazing... If properly done.  It can be a real hassle trying to create a gradient on your own though.  Lucky for us, some great people have created some tools online to make the process much simpler.
							</p>

						</div>
							<ul>
								<li>

									<h3><a href="http://www.colorzilla.com/gradient-editor/" target="_blank" rel="noopener">ColorZilla</a></h3><img class="floater" src="https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,w_500/v1538098095/colorzilla.jpg" alt=" The ColorZilla logo">

									<p>
										ColorZilla is one of the best all around tools for CSS.  It has an online version, a Firefox extension, and a chrome extension.  With ColorZilla you can no only make beautiful looking gradients, but it also has a color picker, an eyedropper tool (An eyedropper tool allows you to click on any color from any webpage and it will give you the RGB or HEX color codes for it.), and a color history file so you can remember all the colors you have used or want to use.  It also has a webpage color analyzer, which takes a webpage that you chose and generate a color scheme for you based off the colors on the webpage.  I often find myself using the ColorZilla Chrome extension when I see a color I want to use online.  This is one of the best color tools available for free for CSS in my opinion. 
									</p>

								</li>

								<li>
									<h3><a href="https://www.cssportal.com/css-gradient-generator/" target="_blank" rel="noopener">CSS Portal</a></h3><img class="floater" src="https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,h_70/v1538098095/cssportal.png" alt="CSS Portal logo">

									<p>
										CSS Portal is really one stop shopping for CSS.  It gives you the gradient generator, but it also gives you sooo much more.  It has a section for CSS learning resources and quizes to test your knowledge.  It has a section for examples of things done with CSS for some inspiration.  It has a whole collection of other CSS generators to help you.  These generators include button generators, tooltip generators, menu generators, ribbon generators, and many more.  Not only does it have allll of this, but you are also given tools to help convert different CSS lengths, a CSS code formatter, and a few other tools to assist you.  IT ALSOOO, has tools to help you with HTML.  So CSS Portal really is one stop shopping for most of your CSS needs and even some of your HTML needs.
									</p>
								</li>

								<li>
									<h3><a href="https://uigradients.com" target="_blank" rel="noopener">uiGradients</a></h3><img class="floater" src="https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,w_497/v1538098095/uigradients.jpg" alt="An image of some of the gradients available on uiGradients">

									<p>
										uiGradients only does one thing, and that's gradients, but it does it well.  If you are looking for a great looking gradient and don't need or want all the extras, then I recommend uiGradients.  It gives you a whole host of premade gradients, as well as gradients made by other uiGradients members if you want to just choose a premade one.  It has all of those gradients seperated by color in a menu above the gradient, so you just pick the color that you want to be the dominant and then browse the great looking gradients that others have already made.  You can also create your own with the help of their gradient generator and you can upload it to their site for others to see and use.
									</p>
								</li>

							</ul>

							<h2>Color Pallete Generators</h2>

							<div id="color-palette-intro">
								<p>
									With all of these colors and gradients you are going to want a nice color palette.  The colors of your website are the first thing people notice.  You don't want to be all over the place with your colors.  Just 3 or 4 colors will do.  With these color palette generators you will be able to take the color you chose with the color picker or the colors you used with the gradient generator, then input that (or those) color and PRESTO they will generate a color scheme for your website to make sure it is visually appealing.
								</p>
							</div>

							<ul>
								<li>
									<h3><a href="https://coolors.co/" rel="noopener">Coolors</a></h3><img class="floater" src="https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,w_485/v1538173327/coolers.jpg" alt="An example of the color palettes Coolors can generate for you.">

									<p>
										Coolors is my personal favorite color palette generator.  It is extremely simple to use.  Just log in and start hitting the space bar until you see a color palette you like. Alternativly, if you have a color or 2 in mind already, you can input them and then lock them in.  Then just hit the space bar and it will generate you as many color palettes as you want off of the colors you have picked.  You can also save your color palettes to your profile for later use or to share with others.  You can also adjust the hue, brightness, saturation, as well as many other parts to your colors.  I would highly recommend Coolors, especially for a beginner, for it's ease of use. 
									</p>
								</li>

								<li>
									<h3><a href="https://www.colorhexa.com/" rel="noopener">Colorhexa</a></h3><img class="floater" src="https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,w_440/v1538176102/colorhexa.png" alt="Colorhexa logo">

									<p>
										If you want to know every little detail about the color or colors you want to use for your color palette than Colorhexa is for you.  Just input any color that you like and Colorhexa will give you a very detailed report, telling you everything from every different way to use your color, the different shades of the color, a description of the color, alternatives to the color, a color blindness test, and of course complimentary colors for your color palette, among other things.  It even gives you examples of your color in use as a text, a background color, and as a border color.  If you want to get a good looking color palette as well as all the information you would ever want to know about your colors, than Colorhexa is for you.
									</p>
								</li>

								<li>
									<h3><a href="https://galactic.ink/sphere/#" rel="noopener">Mudcube Color Sphere</a></h3><img class="floater" src="https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,w_492/v1538176030/Mudcube-color-generator.jpg" alt="An image of the color sphere in use">

									<p>
										Mudcube color sphere is a somewhat more intuitive way to generate a color palette for your website.  You choose how many colors you want, it provides you that many dots on a color sphere, and you just drag the numbers around and the rest of the numbers follow to create a complimentary color palette for your project.  After you find the colors palette you like, you can adjust the hue, saturation, and brightness levels until it is perfect.
									</p>
								</li>
							</ul>

								<h2>Color Theory</h2>

								<div id="color-theory-intro">
								<p>
									This is for the people that want to know how colors work with the human mind.  Have you ever wondered why McDonalds has the Golden Arches or why Sprite always uses green, or why Pinterest's logo is red, or Facebook's is blue.  It's not "Just Because", colors can invoke different emotions in people based on a number of different factors.  Big corporations are more than aware of that and design their logos with certain colors to tap into those emotions.  It's called color theory, and here is how you can learn about it and  manipulate the human mind through color yourself.  
								</p>

								</div>

								<h2>Coming Soon!!</h2>

							</div>

					</div>

			</div>

	</div>
