<nav class="navbar navbar-expand navbar-default navbar-static-top" role="navigation">
	<div class='container'>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to root_path, class: "navbar-brand" do %>
				&ltCODING&gtKO&lt/.COM&gt
				<% end %>
		</div>
		<div class="collapse navbar-collapse" id="main-nav-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%= link_to "Daily Grind", posts_path %>
				</li>
				<li>
					<%= link_to "About", about_path %>
				</li>
				<li>
					<%= link_to "Other Resources", tutorials_path %>
				</li>
				<li>
					<%= link_to "Contact Me", new_contact_path %>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
</nav>
<div class="tools-body">
	<header class="jumbotron tutorials-header">
		<img src="http://www.chicagonow.com/chicago-creepout/files/2014/09/Zombie2.png" class="zombie">
		<div class="container text-center">
			<h1>Grow Your Brains With These Tutorials, Tools, and other Learning Resources</h1>
		</div>
	</header>
    <div class="tools-content">
    <span class="editors">
			<h2>Free Downloadable Code Editors</h2>
			<br>
			<p>For those of you that want to be able to code even when your offline. These editors provide everything you could need
				through extensions, and best of all THEY ARE ALL FREE!</p>
			<br>
			<ul>
				<li>
					<a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>
				</li>
				<br>
				<p>Visual Studio Code is my personal favorite.  It has all the feature you could ever want, and if they don't provide the feature, you can pretty much garuntee there is a extension for it.  It has the features like autocomplete and intellisense and is highly customizable.  Plus, Microsoft updates it pretty regularly with new features.</p>
				<li>
					<a href="https://www.sublimetext.com/" target="_blank">Sublime Text</a>
					</li>
					<br>
					<p>Sublime text is probably the one I see recomended most out of all of them.  I have used it a couple times, and it's definitly worth checking out.  Just one thing to clear up, functionally all these editor are pretty much the same.  Each one may have very minor differences, but not big enough to really make a difference.  So it's all preferance with these.</p><br>
					<li>
						<a href="https://atom.io/" target="_blank">Atom Text Editor</a>
					</li>
					<br>
					<p>Thee Atom text editor is another highly recomended one.  It's from the people of GitHub.  Pretty much the same features as all the rest.</p><br>

					<li>
						<a href="https://notepad-plus-plus.org/" target="_blank">NotePad++</a>
					</li>
					<br>
					<p>NotePad++ is pretty much the same as the others, except with NotePad++ you don't get all the features right out of the box.  You have to add them all manually, but some people like that it doesn't autocomplete for you and things like that.</p><br>
					<li>
						<a href="brackets.io/" target="_blank">Brackets</a>
					</li>
					<br>
					<p>Brackets I have never actuallt used, but I have heard good thing.  Anyways, like I said, they are all functionally the same.</p><br>
					<li>
						<a href="https://netbeans.org/" target="_blank">NetBeans</a>
					</li>
					<br>
					<p>Netbeans is actually a bit different than the others in that it is actually a full IDE (Integrated Development Enviroment).  Being an IDE means that it does have a bit more functionality than the others, but at the cost of being much slower and taking up a lot more space. </p><br>
			</ul>
		</span>
		<span class="online-editors">
			<h2>Online Code Editors</h2>
			<br>
			<p>These online code editors will allow you to practice your code or even create full apps online, without having to download
				any languages, IDE's, or editors on your own computer.  I am not going to explain every one of these as they are all pretty much the same.  They are all nice because you can see your work immediatly, usually in a side screen right next to where you are writing your code.  If you don't want to install a code editor on your machine then these are all very nice options. </p>
			<br>
			<ul>
				<li>
					<a href="https://codepen.io/" target="_blank">Code Pen</a>
				</li>
				<br>
				<li>
					<a href="https://jsfiddle.net/" target="_blank">JS Fiddle</a>
				</li>
				<br>
				<li>
					<a href="http://jsbin.com/?html,output" target="_blank">JS Bin</a>
				</li>
				<br>
				<li>
					<a href="http://plnkr.co/" target="_blank">Plunker</a>
				</li>
				<br>
				<li>
					<a href="https://codeanywhere.com/" target="_blank">CodeAnywhere</a>
				</li>
				<br>
				<li>
					<a href="https://c9.io/login" target="_blank">Cloud 9</a>
				</li>
				<br>
			</ul>
		</span>
        <div class="back">
		<a class="btn back-button" href="/tutorials">Return to Other Resources</a>
		</div>
    </div>
    </div>