<!doctype html>

<head>
	<% title 'Tools for Web Development and Computer Programming' %>
	<% description 'The best tools, generators, text-editors, and IDEs available online for any language or technology' %>
	<% keywords 'codingko, web development, computer programming, development, programming, tutorials, web development tutorials, html, css, javascript, ruby, ruby on rails, python, web development tools, programming tools, tools ,learn, learning' %>

</head>

<div class="tools-body">

	<header>
		<h1 id="tools-head">Useful Tools</h1>
	</header>

	<ul class="tools-menu">

		<li>
			<%= link_to "Tutorials Home", tutorials_path %>
		</li>

		<li>
			<%= link_to "Interactive Tutorials", inttutorials_path %>
		</li>

		<li>
			<%= link_to "Book Tutorials", booktutorials_path %>
		</li>

		<li>
			<%= link_to "Video Tutorials", videotutorials_path %>
		</li>

		<li class="slider"></li>

	</ul>

	<ul class="tools-menu2">

		<li>
			<%= link_to "MOOC Tutorials", mooctutorials_path %>
		</li>

		<li>
			<%= link_to "Paid Tutorials & Pathways", paidtutorialsandpath_path %>
		</li>

		<li>
			<%= link_to "Reference & Questions", referanceandquestions_path %>
		</li>

		<li>
			<%= link_to "Useful Tools", tools_path %>
		</li>

		<li class="slider2"></li>

	</ul>

	<div id="tools-page">

		<h2 id="tools-intro-header">Useful Tools for Programming and Development</h2>

		<div id="tools-intro">

			<p>
				The right tools can make or break a computer programmer or web developer. They can cut your time spent developing in half, solve
				common issues, or make your product really stand out. There are tools for every language and technology. This list
				will be continuously upgraded as I find tools that will help to make your (and my) life easier.
			</p>

		</div>

		<div id="all-tools">
			<ul id="all-tools-menu">
				<li><a href="/htmltools">HTML Tools</a></li>
				<li><a href="/csstools">CSS Tools</a></li>
			</ul>
		</div>

		<div id="tools-content">

			<h2 id="tools-intro-header1">Text-Editors and IDEs (Integrated Development Environments)</h2>

			<div id="tools-intro1">

				<p id="editor-intro">
					A necessary tool in any programmers or developers toolbox, text-editors and IDEs are where you will do most of your programming.
					There are both downloadable text-editors or IDEs and ones you can use in your browser online. There are also free
					or paid versions of both. As a beginner to web development or computer programming, I would recommend using the free ones, but as you progress, if you would
					like to try out a paid one that has more bells and whistles, then more power to you. Briefly, I would like to
					point out the difference between an IDE and a text-editor. A text-editor is sort of general purpose. It can be
					used for multiple languages through the use of plug-ins. It can also be used for debugging and compiling with the
					right plug-ins, but none of these features come with it. An IDE, on the other hand, is usually geared towards a
					particular language and comes with all the extensions, debuggers, and compilers among other things, that you would
					ever need for that particular language. IDEs, also, usually have a much larger file size, and depending on your
					machine can be slow and laggy. Ok! Enough with the intro's. Let's get into some tools.<br> <span>*As a side note,
						many of these offer the same features. It is totally up to the programmer, which to use. So, I am only going to
						give a description if there is some feature that sets it apart from the others.*</span>
				</p>

			</div>

			<ul>

				<li>

					<h2><a href="https://code.visualstudio.com/" target="_blank" rel="noopener">
							Visual Studio Code
						</a></h2><img class="floated" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579248/vscode-min.png"
					 alt="Visual Studio Code Logo" title="My personal favorite.">


					<p>
						Visual Studio Code is my personal favorite. It has all the feature you could ever want, and could be considered closer to a full blown IDE (with extensions) than a text editor.  Visual Studio Code has thousands of extensions, created by both professional companies and regular users, for everything you could possibly need or want.  They have extensions for every language, linters, guides, beautifiers, uglifiers, intellisense, different themes, color schemes, syntax highlighting, bracket matchers, file icon packs, etc.  They also provide more features right out of the box than any of the other editors.  It is also updated regularly.  Really, the only complaint that I have really ever seen is that it is made by Micrsoft.  Some people just hate Microsoft with a passion, for reasons I have never really understood.
					</p>

				</li>

				<li>
					<h2><a href="https://www.sublimetext.com/" target="_blank" rel="noopener">
							Sublime Text
						</a></h2><img class="floated" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531606572/sublime.jpg" alt="Sublime Text Logo"
					 title="Highly recommended">

					<p>
						Sublime text is a very popular text editor.  Almost every "beginners" tutorial you see will recommend it.  Some of the pros for Sublime text are it's <a href="https://blog.xinhong.me/post/sublime-text-vs-vscode-vs-atom-performance-dec-2016/" rel="noopener" target="_blank">speed</a>, performance, and packages(extensions).  The main drawback with Sublime is that, while you can use it for free, it costs 70 dollars to activate the license for it.  If you use it without the license activated you have to deal with a very annoying nag window. 
					</p>

				</li>

				<li>

					<h2><a href="https://atom.io/" target="_blank" rel="noopener">
							Atom Text Editor (Made by GitHub)
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618310/atom.png" alt="Atom Logo" title="By the people at GitHub">

						<p>The Atom text editor, by the people at GitHub, bills itself as "A hackable text editor for the 21st century".  The main feature of Atom is that "hackable" part.  It is written in plain HTML, CSS, and JavaScript and they provide you with all the files you need to truly customize it.  The main drawback of Atom is that it does not handle large files well, and can take up more system resources than other editors.</p>

				</li>

				<li>

					<h2><a href="https://notepad-plus-plus.org/" target="_blank" rel="noopener">
							NotePad++ (only for Windows)
						</a></h2><img class="floated" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/notepad.png" alt="NotePad++ Logo"
					 title="Barebones text-editor">

					<p>
						Notepad++ is a pretty bare bones text-editor. It does have plug-ins available for it, but not nearly as many as
						some of the others. If simplicity is your thing, then Notepad++ is for you.
					</p>

				</li>

				<li>

					<h2><a href="http://brackets.io/" target="_blank" rel="noopener">
							Brackets (Made by Adobe)
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618310/brackets.png" alt="Brackets Logo"
					 title="By the people at Adobe">

					 <p>
						 If your strictly a front-end developer or a web designer that also codes, then Brackets (By: Adobe) is the editor for you.  Since it is made by Adobe, it integrates very easily with other Adobe products, such as the uber popular Adobe Photoshop.  However, if you do more computer programming than web development, you may want to look elsewhere, as Brackets is not suited well for actual programming.
					 </p>

				</li>

				<li>

					<h2><a href="https://netbeans.org/" target="_blank" rel="noopener">
							NetBeans
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/netbeans.png" alt="NetBeans Logo"
					 title="I heard it makes you fart!">

					<p>
						NetBeans is our first full Integrated Developer Environment (IDE).  As an IDE, it is best suited for developers that work with a few specific languages.  The languages NetBeans excells in are Java, JavaScript (CSS and HTML as well), and PHP.  The main selling point of NetBeans is that, for those specific languages, it comes with professional grade debuggers, refactorers, code completion, etc.  Basically it comes with everything you would ever need for those languages, without having to sift through extension after extension to find what you are looking for.  However, with NetBeans being a full blown IDE, it has a large file size.  Because of the large file size it can get aggravating to work with, as it can get slow and laggy (Depending on how much space and RAM you have available on your machine).
					</p>

				</li>

				<li>

					<h2><a href="https://codepen.io/" target="_blank" rel="noopener">
							Code Pen
						</a></h2><img class="floated" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/codepen.png" alt="Codepen Logo"
					 title="Great place for inspiration too!">

					<p>
						Code Pen is our first online text-editor. These are usually only for developing in HTML, CSS, and JavaScript.
						They don't allow for plug-ins, but they do come with some extra features. Code Pen is the most used of the online
						editors and is a fantastic product for whipping up some fast code.
					</p>

				</li>

				<li>

					<h2><a href="https://jsfiddle.net/" target="_blank" rel="noopener">
							JS Fiddle
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/jsfiddle.png" alt="JS Fiddle Logo">

				</li>

				<li>

					<h2><a href="http://jsbin.com/?html,output" target="_blank" rel="noopener">
							JS Bin
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/jsbin.png" alt="JS Bin Logo">

				</li>

				<li>

					<h2><a href="https://next.plnkr.co/" target="_blank" rel="noopener">
							Plunker
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/plnkr.png" alt="Plunker Logo">

				</li>

				<li>

					<h2><a href="https://codeanywhere.com/" target="_blank" rel="noopener">
							CodeAnywhere
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618310/codeanywhere.png" alt="CodeAnywhere Logo">

				</li>

				<li>

					<h2><a href="https://c9.io/login" target="_blank" rel="noopener">
							Cloud 9
						</a></h2><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618310/cloud9.png" alt="Cloud 9 Logo">

				</li>

			</ul>

		</div>

	</div>

</div>