<nav class="navbar navbar-expand navbar-default navbar-static-top" role="navigation">
	<div class='container'>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
				<span class="sr-only">Toggle navigation</span>
			</button>
			<%= link_to root_path, class: "navbar-brand" do %>
				&ltCODING&gtKO&lt/.COM&gt
				<% end %>
		</div>
		<div class="collapse navbar-collapse" id="main-nav-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "K.O.'s Tech Corner", blog_path %></li>
				<li>
					<%= link_to "Daily Grind", grind_path %>
				</li>
				<li>
					<%= link_to "About", about_path %>
				</li>
				<li>
					<%= link_to "Other Resources", tutorials_path %>
				</li>
				<li>
					<%= link_to "Contact Me", new_contact_path %>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
</nav>
<div class="container-fluid tutorials-body">
<div class="container-fluid black-header">
<div class="container">
	<img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531586811/Zombie2-min.png" class=" img-fluid zombie" height="500px" width="500px">
	</div>
	<header class="container-fluid text-center tutorials-header">
			<h1>Grow Your Brains With These Tutorials and other Learning Resources</h1>
	</header>
	</div>
		<div class="container tutsintro">
			<p>One of the most challenging aspects of deciding to teach yourself programming is knowing where to look.  We live in an age where all the information you could ever need is right at your fingertips.  That very same advantage can also turn into a disaster if you don't know where to look.  The internet is full of thousands of tutorials and courses to help you learn to program.  The problem is that half of them are either outdated or half way finished.  Well while I have been self-teaching myself programming, I have kept note of the truly exceptional tutorials and courses available for free (or of little cost) online.  While the authors of most of these tutorials could have charged for thier content, they chose not too.  In my eyes that makes them fantastic individuals.  So please check out thier tutorials and courses and appreciate all the hard work they put in so that you could try to better your life.</p>
		</div>

		<div class="container-fluid tutorials-info">

			<div class="container-fluid blue"></div>

			<div class="row">

  				<div class="col-sm-3 inttutorials"><a href="/inttutorials"><h3><strong>Interactive Tutorials</strong></h3>
				  <p><strong>The best Interactive Tutorials available online (That I have found so far).  All of them available for free, <span id="foryou">JUST FOR YOU!!</span></strong> <br><span id="smallprint">(and anyone else that wants to use them.)</span><br> <strong>From fully immersive tutorials that will take you a year to complete, to quick ones you can finish in a day.  There is something for everyone.</strong></p></a>
				  </div>

				  

  				<div class="col-sm-3 booktutorials"><a href="/booktutorials"><h3><strong>Book Tutorials</strong></h3>
				  <p><strong>Actual full length books on the InterWebs!  What will they think of next?!  The authors of these books were cool enough to put them online for anyone with an internet connection and a passion for learning to program to use.  There are actually lots of books to learn programming online, but these ones are the still relevant and great for beginners.</strong></p></a>
				  </div>

				<div class="col-sm-6 freeCodeCamp"></div>
			
			</div>
<br>

			<div class="container-fluid yellow"></div>
  			
			<div class="row">

			    <div class="col-sm-6 videomooc"></div>

				<div class="col-sm-3 videotutorials"><a href="/videotutorials"><h3><strong>Video Tutorials</strong></h3>
				<p><strong>For all the visual learners out there.  They say a picture is worth a thousand words.  These videos are sort of composed of like 1,000,000 pictures.  That's like reading 1,000,000,000 words!! or something like that.  Also, all of those words are <span id="lottawords">(mostly)</span> FREE!! That's a whole lotta words, for notta lotta moolah.</strong></p></a>
				</div>

				<div class="col-sm-3 mooctutorials"><a href="/mooctutorials"><h3><strong>Massive Open Online Courses (MOOCs)</strong></h3>
				<p><strong>These MOOCs are real classes from top universities!  Now your mom can tell all her friends that her child attended classes from Harvard or MIT.  They will all be so jealous.</strong></p></a>
				</div>

			</div>
<br>

			<div class="container-fluid blue-two"></div>
	
			<div class="row">

  				<div class="col-sm-3 paidtutorialsandpath"><a href="/paidtutorialsandpath"><h3><strong>Paid Tutorials and Learning Pathways</strong></h3>
				  <p><strong>Sometimes you can feel all that cold hard cash burning a whole in your pocket and you just got to spend it.  What better way to spend it then on some quality tutorials?</strong></p></a>
				  </div>

  				<div class="col-sm-3 referanceandquestions"><a href="/referanceandquestions"><h3><strong>Referance Materials and Questions</strong></h3>
				  <p><strong>What is the meaning of life?<br>Why are we here? <br>I don't know, and the people on these websites probably don't know either.  They know an awful lot about programming though.  So ask away!</strong></p></a>
				  </div>

				<div class="col-sm-6 referanceandpathway"></div>

			</div>
<br>

			<div class="container-fluid yellow-two"></div>

			<div class="row">

			    <div class="col-sm-6 toolspic"></div>

				<div class="col-sm-6 tools"><a href="/tools"><h2><strong>Useful Tools</strong></h2>
				<p><strong>Back in pre-historic times, the Neanderthalls created the first tools such as hammers, chisels, and typewriters.  Then the Homosapiens came around and killed them and stole all of it.  Then they improved upon those tools and gave us things like GitHub, CSS Gradient Generators, Color Pickers, and Integrated Development Enviroments (IDEs).  Us modern day Homosapiens have only improved on these things our ancestors created all those years ago and created many, many more.  These tools make life much easier on programmers and give more control over the final product.</strong></p></a>
				</div>

			</div>

		</div>
	
</div>
