<nav class="navbar navbar-expand navbar-default navbar-static-top" role="navigation">
	<div class='container'>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to root_path, class: "navbar-brand" do %>
				&ltCODING&gtKO&lt/.COM&gt
				<% end %>
		</div>
		<div class="collapse navbar-collapse" id="main-nav-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%= link_to "Daily Grind", posts_path %>
				</li>
				<li>
					<%= link_to "About", about_path %>
				</li>
				<li>
					<%= link_to "Other Resources", tutorials_path %>
				</li>
				<li>
					<%= link_to "Contact Me", new_contact_path %>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
</nav>
<div class="tutorials-body">
	<header class="jumbotron tutorials-header">
		<img src="http://www.chicagonow.com/chicago-creepout/files/2014/09/Zombie2.png" class="zombie">
		<div class="container text-center">
			<h1>Grow Your Brains With These Tutorials and other Learning Resources</h1>
		</div>
	</header>
	<div class="tutorial-content">
		<span class="interactive-online-tutorials">
			<h2>Interactive Online Tutorials</h2>
			<br>
			<p>If you are brand-new to programming, you should start right here. Most of these cover multiple languages and technologies,
				but don't get overwhelmed by the options. Just pick one of the languages that we covered earlier and STICK WITH IT! These
				are listed in order of how I think you should complete them, but they are all great. So LET'S HAVE A LOOK!!</p>
			<br>
			<ol>
				<li>
					<a href="http://www.codeacademy.com/" target="_blank">Code Academy</a>
				</li>
				<br>
				<p>Code Academy offers free lessons that cover the basics of many different languages such as Python, Ruby, and JavaScript.
					As well as many more. It is a great place to get started learning how to code. They really ease you in to everything,
					starting out with the absolute basics. They also offer a paid version, but I wouldn't spend the money unless you have
					money to burn. If you just follow the pathway I, or others, have laid out for you, then you should be able to get the
					same education at very little cost.</p>
				<br>
				<li>
					<a href="http://www.freecodecamp.org/" target="_blank">Free Code Camp</a>
				</li>
				<br>
				<p>FreeCodeCamp is interchangeable with CodeAcademy as far as where you should start, as it eases you in very slowly as
					well. FreeCodeCamp is set up a bit different though, in that they have their own path set out for you with their own
					tutorials. Some of the great things about FreeCodeCamp are that they go much more in-depth with everything than CodeAcademy,
					they give you projects to add to your portfolio, you can earn a few different certificates from them, and once you finish
					all of their challenges they will set you up with a non-profit to volunteer for to get actual real world expierience.
					Once again THAT IS ALL FREE! The only drawback being that it takes a pretty long time to finish it all. I believe they
					estimate that in around a year you will be able to graduate from FreeCodeCamp.</p>
				<br>
				<li>
					<a href="https://www.tutorialspoint.com/" target="_blank">TutorialsPoint</a>
				</li>
				<br>
				<p>Tutorials Point is not one that I have a whole lot of expierience with, but they sure do offer ALOT! They have tutorials
					for pretty much any language and framework. They even offer a service to hook you up with a tutor if you wish, you would
					have to pay the tutor however. Still that ain't half bad. Not only do they have tutorials for programming and development,
					but you can also get tutorials for math, foriegn languages, and a variety of other subjects.</p>
				<br>
				<li>
					<a href="https://dash.generalassemb.ly/" target="_blank">General Assembly</a>
				</li>
				<br>
				<p>Dash from the people at General Assembly is a wonderful quick tutorial on HTML, CSS, and JavaScript. The company itself
					,General Assembly, is a for profit bootcamp, however they provide this nice, quick, and ffairly easy tutorial for free
					just to get you started on your journey through programming. This is one of the more fun ones, simply because it moves
					along so quickly but is loaded with information.</p>
				<br>
				<li>
					<a href="http://www.htmldog.com/" target="_blank">HTML dog</a>
				</li>
				<br>
				<p>Another tutorial site with front-end development in mind. The HTML, CSS, and JavaScript tutorials are each broke up into
					beginner, intermediate, and advanced sections and they do a good job of covering all the topics.</p>
				<br>
				<li>
					<a href="https://flatironschool.com/" target="_blank">Flat Iron School</a>
				</li>
				<br>
				<p>I stumbled across Flat Iron School while I was researching bootcamps. While their bootcamp is a paid service, they do
					offer a pretty in depth free beginners JavaScript course. They have their own IDE and everything for you to run the
					code.
				</p>
				<br>
				<li>
					<a href="https://tutsplus.com/" target="_blank">Tuts Plus</a>
				</li>
				<br>
				<p>Tuts Plus for some reason is one that I never start out looking for, but once I google a question I need answered or
					a tutorial I want to try they always pop up with quality content. Watch out though because quite a bit of their content
					is paid, but there are definitly some free gems of a tutorial on there as well.</p>
				<br>
				<span>BONUS!!</span>
				<li>
					<a href="https://www.sololearn.com/" target="_blank">Solo Learn</a>
				</li>
				<br>
				<p>I call SoloLearn a bonus because it is more of a phone app, at least to me. They do have the lessons online though. They
					offer a pretty in depth explanation on many different languages and frameworks and has a very active community. After
					you complete one of their courses they give you a certificate you can print out, if you choose to. I wouldn't personally
					put it up against some of the other ones in this list, but as a phone app, it is the best of the best for learning to
					code.
				</p>
			</ol>
		</span>
		<span class="video">
			<h2>Video Tutorials</h2>
			<br>
			<p>For those of you that are more of the visual learning type these video tutorials are the best that I have done. The internet
				is full of bad and halfway done video tutorials, so finding quality video tutorials is a bit more of a challenge. There
				are some great ones here, also listed in the order in which I believe you should check them out.</p>
			<br>
			<ol>
				<li>
					<a href="https://www.udemy.com/the-web-developer-bootcamp/" target="_blank">The Web Developer Bootcamp (Paid course on Udemy)</a>
				</li>
				<br>
				<p>This video course is one of the most highly recomended courses not only on Udemy, but in general, among those learning
					to code. It moves very slow at the beginning, but picks up the pace as it gets into more advanced stuff. It takes you
					through the front-end languages (HTML, CSS, and JavaScript) and also covers some frameworks, such as Bootstrap. This
					is however a paid course on Udemy. You can usually catch it on sale though, through one of Udemy's site wide sales for
					only around 10 dollars, and it is well worth the price.</p>
				<br>
				<li>
					<a href="http://railsforzombies.org/" target="_blank">Rails For Zombies</a>
				</li>
				<br>
				<p>To be honest with you, I never did this one. I just stumbled upon it and briefly fast forwarded through it to see if
					it seemed any good. And it did. I have also heard some praise for this course from other reputable sources. Plus knowing
					a bit of the Ruby programming language will probably help you out with the next tutorial.</p>
				<br>
				<li>
					<a href="https://upskillcourses.com/p/essential-web-developer-course" target="_blank"> UpSkill's Essential Web Developer Course</a>
				</li>
				<br>
				<p>This course is probably my absolute favorite out of the ones I have done. The instructor , Rob Dey, really knows his
					stuff, and walks you all the way through the course with great instruction. He starts out with explaining the internet
					and things like what HTTP is. You then start on building a real world application. He walks you through the HTML for
					the layout of your app, then to CSS for the looks of your app, then swings in to learning Ruby and Ruby on Rails. You
					will also learn extremly important things like how to use GitHub and Bootstrap properly. Out of all the tutorials I
					have taken this one is by far my favorite and the one I learnt the most from.</p>
				<br>
				<li>
					<a href="https://www.youtube.com/user/thenewboston" target="_blank">The New Boston (YouTube) </a>
				</li>
				<br>
				<p>This is a series of tutorials on YouTube. The instructor ,Bucky, is highly thought of in the programming community and
					many times holds joint tutorials with other YouTube programming teachers. His videos not only teach you a lot, but his
					sense of humor is on point and he will have you chuckling as your learning. Unfrtunatly he seems to have moved on from
					his website ,The New Boston, and his YouTube channel for bigger things, but his tutorials are still relavent for now.</p>
			</ol>
		</span>
		<span class="books">
			<h2>Quality Books (FREE!!)</h2>
			<br>
			<p>Here are some great books for learning programming that the authors were kind enough to put online for free! There are
				many other books online for free, but when searching for them watch out for the publish date. Many of the books online
				for free are old and the technologies they are for have passed them up. Once again I will put them in the order I think
				you should read them, but with these (since they are all for beginners) it really doesnt matter too much the order in
				which you read them.</p>
			<br>
			<ol>
				<li>
					<a href="https://learnpythonthehardway.org/book/ex0.html" target="_blank">Learn Python the Hard Way</a>
				</li>
				<br>
				<p>This book, by Zed A. Shaw, is actually where I started my journey to learning programming and development many moons
					ago. It is one of the most recomennded books out there for learning Python. He has a style of teaching that is unlike
					many other books or online resources in that he believes repitition is the key to learning, at least at the beginning.
					It's an idea I can definitly get behind as it helped me out drastically, especially being a complete beginner. He basically
					tells you what's going on, but then tells you to just literally copy what he's doing. It worked for me, and kept me
					engaged and interested the whole time. As a beginner, I wanted to create something that works. If I had to deal with
					the frustration of not being able to do something extremely simple right off the bat, I may have given up. However with
					Learn Python the Hard Way, as I said before, you get to complete working applications by simply copying what Mr. Shaw
					does as he explains it to you. Then once you have the basics down he starts expecting you to know how to complete tasks
					on your own. This book is probably the reason I stuck with learning everything instead of getting frustrated and throwing
					my computer at a wall.</p>
				<br>
				<li>
					<a href="https://automatetheboringstuff.com/" target="_blank">Automate the Boring Stuff with Python</a>
				</li>
				<br>
				<p>Automate the Boring Stuff by Al Swiegart is a great next step after Learn Python the Hard Way or it is great as the first
					Python book you read. The only reason I recomennd this one second is because of Zed A. Shaw's teaching style with so
					much repitition. With Automate the Boring Stuff you get a good look at the more practical abilities of Python. It is
					really cool to see things, that would have taken you forever to do on your own, done in seconds by your computer with
					a program that you coded yourself. The book teaches you to do what it says in the title, Automate the Boring Stuff,
					like sending yourself and others reminder e-mails and texts or searching for certain text in a documaent or across multiple
					documents. This book actuallt brought me a bit more joy than Learn Python the Hard Way, but only because there is a
					lot more of seeing your code in action doing actual useful things.</p>
				<br>
				<li>
					<a href="https://eloquentjavascript.net/" target="_blank">Eloquent JavaScript</a>
				</li>
				<br>
				<p>Eloquent JavaScript by Marijn Haverbeke is probably the #1 most recomended book for beginners learning JavaScript, the
					language of the internet. I had a bit of trouble understanding it all right out of the gate, (JavaScript can be quite
					the cofusing language) but after completing a few online tutorials and then going back to it, it was much easier to
					pick up. If your dream is to be a web developer, I would recomend doing CodeAcademy's JavaScript course and maybe starting
					into FreeCodeCamp's JavaScript challenges and then coming back to this book.</p>
				<br>
				<li>
					<a href="https://github.com/getify/You-Dont-Know-JS" target="_blank">You Don't Know JS (6 Books) </a>
				</li>
				<br>
				<p>You Don't Know JS is actually a series of 6 books by Kyle Simpson. With book one he eases you into the JavaScript language,
					but after that WATCH OUT! He starts hitting on some deep and hard to understand, for a beginner, topics such as closures.
					It is also one of the most recomended series of books on JavaScript, but he wastes no time getting into advanced topics.
					So be sure you have at least a pretty solid grasp of vanilla JavaScript before you start getting to deep into this collection
					of books.</p>
				<br>
			</ol>
		</span>
		<span class="mooc">
			<h2>Massive Online Open Courses (MOOCs)</h2>
			<br>
			<p>These MOOC's are for people that enjoyed school. They are normally much slower paced than the other stuff, but generally
				pretty effective at taking you from very beginner to having a pretty solid understanding of the course material. A few
				of these even offer courses that you can recieve actual college credit for! The drawback being that the courses that
				you recieve credit for or certificates for generally cost, and sometimes that price can be fairly steep. There are courses
				on just about everything you can imagine as well. Just check them out and have a look for yourself. </p>
			<br>
			<ul>
				<li>
					<a href="https://www.coursera.org/" target="_blank">Coursera</a>
				</li>
				<br>
				<p>Coursera is probably the most well known of the MOOC's. It offer courses on everything from learning a language to social
					sciences and of course web development and software development. It is one that allows you to earn actual college credits
					or you can even earn a full degree from some of their courses. Of course though, for that service it is goiong to cost
					you. Prices vary by course, but you can audit the courses for free. With the audit opttion you do not get access to
					everything that the paid users get, but all the lessons are free. They make it a little tricky to audit the course,
					but here is how you do it. After you select the course you want you click the enroll now button. A big screen will come
					up telling you the price, but in small lettering at the bottom corner of that page you will find the audit this course
					link, and TADA! you have access to learning materials from professioal institutions for free.</p>
				<br>
				<li>
					<a href="https://www.udacity.com/" target="_blank">Udacity</a>
				</li>
				<br>
				<p>Udacity is another well known MOOC. It essentially does the same thing as Coursera except they offer what are called
					"Nano Degrees". The value of the nano degree is debatable, but it sure couldn't hurt. Alot of their content is only
					for paid subscribers, however they do offer alot of their more basic courses for free. Just go have a look around.</p>
				<br>
				<li>
					<a href="https://www.khanacademy.org/" target="_blank">Khan Academy</a>
					<br>
					<li>
						<p>I have not personally used Khan Academy, but whenever someone talks about free resources to learn programming they
							always come up. From what I have heard they seem to have some pretty respectable material. Only one way to know though,
							and that's to check it out for yourself.</p>
						<br>
						<a href="https://www.edx.org/" target="_blank">EdX</a>
					</li>
					<br>
					<p>EdX was the first MOOC that I tried out of them. It is basically the same as the rest except their paid certificates
						are a bit cheaper bit cheaper than Coursera or Udacity. They offer high quality content from major universities as
						well. The first MOOC class I ever took was Harvard's CS50 class on EdX. Also EdX has a partnership with Microsoft.
						So with EdX you will be able to take many classes actually taught by the people at Microsoft specialists.</p>
					<br>
					<li>
						<a href="https://www.udemy.com/" target="_blank">Udemy</a>
					</li>
					<br>
					<p>Udemy is slightly different than the rest in that anyone can make a course onthere. So it can be kind of hit and miss
						on the content you are going to get. If you do your research before hand though and check reviews, you shouldn't have
						an issue. Plus, the courses on Udemy are much cheaper in comparison to the others, usually costing only around 10 to
						15 dollars. They also offer many free courses. I have only paid for 3 courses off of there, but the 3 I paid for I
						did plenty of checking on before I purchased and they all turned out to be high quality. Udemy is really the only one
						that I would recomennd spending a few dollars on, but that's only because of the price.</p>
					<br>
			</ul>
		</span>
		<span class="paid-tutorials">
			<h2>Paid Websites that seem Highly Recomennded, but I have not tried</h2>
			<br>
			<p>For the most part, I have tried to stick to learning everything I can for free, but these paid sites seem to be highly
				recomended by other programmers and developers. So, if you have the cash to do it then go for it. Just make sure you
				do your research first.</p>
			<br>
			<ul>
				<li>
					<a href="https://scotch.io/" target="_blank">Scotch.io</a>
					<br>
				</li>
				<br>
				<li>
					<a href="https://www.pluralsight.com/" target="_blank">PluralSight</a>
				</li>
				<br>
				<li>
					<a href="https://www.codeavengers.com/" target="_blank">Code Avengers</a>
				</li>
				<br>
				<li>
					<a href="https://teamtreehouse.com/" target="_blank">Team Treehouse</a>
				</li>
				<br>
				<li>
					<a href="https://www.lynda.com/" target="_blank">Lynda.com</a>
				</li>
				<br>
			</ul>
		</span>
		<span class="referance">
			<h2>Referance Material</h2>
			<p>These websites will be able to assist you when you need to know more about certain apects of your code or design.</p>
			<br>
			<ul>
				<li>
					<a href="https://www.codenewbie.org/" target="_blank">Code Newbie</a>
				</li>
				<br>
				<p>CodeNewbie is, as the name inplies, friendly to beginners to programming and development. They offer a quality blog and
					podcast, as well as links to many other tutorials and other websites for beginners to coding.</p>
				<br>
				<li>
					<a href="https://hackr.io/" target="_blank">hackr.io</a>
				</li>
				<br> The website hackr.io is one of my favorites. It's simply a website that has a community that ranks tutorials for every
				programming language and framework you could imagine. They then list these ranking out for you according to what language
				you want to learn. It is a very nifty site.
				<li>
					<a href="https://www.w3schools.com/" target="_blank">W3 Schools</a>
				</li>
				<br>
				<p>This is the ultimate referance site for programming and development. It is set up in a tutorial format, but I would recomend
					against using it as a tutorial simply because they don't go into that much depth with any one thing. As far as a referance
					site though, they have a short description for every little thing you could ever want to know about development and
					programming. When you finally start on your first few projects on your own, trust me, you will be visiting this site
					a lot.</p>
				<li>
					<a href="https://developers.google.com/" target="_blank">Google Developers</a>
				</li>
				<br>
				<p>Google developers actually offers more than just referance material. One thing they are particularly good at though,
					is API's. So if you need info on API's this is the place to go.</p>
				<br>
				<li>
					<a href="https://developer.mozilla.org/" target="_blank">Mozilla Developer Network</a>
				</li>
				<br>
				<p>Mozilla's developer network (MDN) is, along with W3 Schools, is one of the best sites for referance. As you go through
					these tutorials you will actually see it referanced quite a bit. Like W3 Schools, they also have the information set
					up as a tutorial, but it is probably better used as a referance for when your stuck on a frustrating problem.</p>
				<br>
			</ul>
		</span>
		<span class="questions">
			<h2>For asking questions and getting help from other developers</h2>
			<br>
			<p>When you are stuck and the referance material can't even help you. These websites are full of programmers and developers
				that almost always will have the solution to your problem. As a matter of fact, most questions have already been asked
				and answered and you will be able to get your answer from that. Make sure you read the sites rules though. Some of them
				want you to ask questions in a certain way and have your code ready for them to look at. Actually just check out this
				website
				<a href="http://www.catb.org/~esr/faqs/smart-questions.html">"How to ask a good question"</a> and you should be all set with any of these sites.</p>
			<br>
			<ul>
				<li>
					<a href="https://stackoverflow.com/" target="_blank">Stack OverFlow</a>
				</li>
				<br>
				<p>Stack-Overflow is normally the go to site for getting your coding questions answered. They have some guidelines for posting
					your question though. So just make sure you check out
					<a href="https://stackoverflow.com/help/how-to-ask">the how to ask a question page before you post it. The people there will not answer your question unless you follow
						it.</a>
				</p>
				<br>
				<li>
					<a href="https://www.quora.com" target="_blank">Quora</a>
				</li>
				<br>
				<p>Quora is one of my personal favorites for asking questions. You don't have to ask a programming or development question
					either, it can be about absolutly anything. They do have a large community of developers and programmers though that
					you have the option to ask specific people if you wish too. This is another site that you have to think out your question
					too, but not for the same reasons as Stack-Overflow so much, but because Quora is set up like Twitter and you have to
					keep your question under 140 charachters.</p>
				<br>
				<li>
					<a href="https://www.reddit.com/r/programming" target="_blank">Reddit's Programming SubReddit</a>
				</li>
				<br>
				<p>Reddit's subreddit programming is another great resource for getting questions answered. They don't list out rules for
					asking questions like the previous sites, but to get better answers you should still follow the
					<a href="http://www.catb.org/~esr/faqs/smart-questions.html">"How to ask a good question" guide.</a>
				</p>
				<br>
			</ul>
		</span>
		<span class="pathways">
			<h2>Learning Pathways</h2>
			<br>
			<p>These Sites provide some other quality tutorials and links to other ones. They also tell you the order in which you should
				complete the tutorials. Basically the same thing I am doing here only with thier own set of tutorials to follow.</p>
			<br>
			<ul>
				<li>
					<a href="https://www.theodinproject.com" target="_blank">The Odin Project</a>
				</li>
				<br>
				<p>The Odin project was actually provided me the very first pathway that I have done.  It has a ton of quality tutorials, but some of them are kind of dated.  Check them out, but make sure you stay tuned to codingko as I am in the process of making a step by step pathway for beginners myself.</p><br> 
				<li>
					<a href="https://bento.io/" target="_blank">Bento.io</a>
				</li>
				<br>
				<p>Bento.io is very similar to the Odin Project.  I have not gone all the way through thier pathway, and it has been awhile since I took a look, but I remember it having some quality material to go through.  As I said above though, stay tuned to codingko as I am working on a pathway for beginners as well.
			</ul>
		</span>
		<div class="tools">
		<a class="btn tools-button" href="/tools">Next Page: Useful Tools</a>
		</div>
	</div>
</div>
</div>