<nav class="navbar navbar-expand navbar-default navbar-static-top" role="navigation">
	<div class='container'>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
				<span class="sr-only">Toggle navigation</span>
			</button>
			<%= link_to root_path, class: "navbar-brand" do %>
				&ltCODING&gtKO&lt/.COM&gt
				<% end %>
		</div>
		<div class="collapse navbar-collapse" id="main-nav-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "K.O.'s Tech Corner", blog_path %></li>
				<li>
					<%= link_to "Daily Grind", grind_path %>
				</li>
				<li>
					<%= link_to "About", about_path %>
				</li>
				<li>
					<%= link_to "Other Resources", tutorials_path %>
				</li>
				<li>
					<%= link_to "Contact Me", new_contact_path %>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
</nav>
<div class="container-fluid videos-body">
<div class="container-fluid videos-head-bg">
	<header class="container-fluid text-center videos-header">
		<h1>Video Tutorials</h1>
	</header>
	</div>
<div class="container videos-tutorials">
<div class="videos-sidebar"></div>
			<h2 id="video-intro-header">Video Tutorials</h2>
<br>
			<p id="video-intro">For those of you that are more of the visual learning type these video tutorials are the best that I have done. The internet
			is full of bad and halfway done video tutorials, so finding quality video tutorials is a bit more of a challenge. There
			are some great ones here, also listed in the order in which I believe you should check them out.</p>
<br>
			<ol>
				<li>
					<h2><a href="https://www.udemy.com/the-web-developer-bootcamp/" target="_blank">The Web Developer Bootcamp (Paid course on Udemy)</a></h2>
					<img class="videos-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579224/Udemy-the-web-developer-bootcamp-min.png">
				</li>
<br>
				<p>This video course is one of the most highly recomended courses not only on Udemy, but in general, among those learning
				to code. It moves very slow at the beginning, but picks up the pace as it gets into more advanced stuff. It takes you
				through the front-end languages (HTML, CSS, and JavaScript) and also covers some frameworks, such as Bootstrap. This
				is however a paid course on Udemy. You can usually catch it on sale though, through one of Udemy's site wide sales for
				only around 10 dollars, and it is well worth the price.</p>
<br>
				<li>
					<h2><a href="http://railsforzombies.org/" target="_blank">Rails For Zombies</a></h2>
					<img id="rfz" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579221/railsforzombies.png">
				</li>
<br>
				<p>To be honest with you, I never did this one. I just stumbled upon it and briefly fast forwarded through it to see if
				it seemed any good. And it did. I have also heard some praise for this course from other reputable sources. Plus knowing
				a bit of the Ruby programming language will probably help you out with the next tutorial.
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				</p>
<br>
				<li>
					<h2><a href="https://upskillcourses.com/p/essential-web-developer-course" target="_blank"> UpSkill's Essential Web Developer Course</a></h2>
					<img class="videos-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579224/upskill-min.png">
				</li>
<br>
				<p>This course is probably my absolute favorite out of the ones I have done. The instructor , Rob Dey, really knows his
				stuff, and walks you all the way through the course with great instruction. He starts out with explaining the internet
				and things like what HTTP is. You then start on building a real world application. He walks you through the HTML for
				the layout of your app, then to CSS for the looks of your app, then swings in to learning Ruby and Ruby on Rails. You
				will also learn extremly important things like how to use GitHub and Bootstrap properly. Out of all the tutorials I
				have taken this one is by far my favorite and the one I learnt the most from.</p>
<br>
				<li>
					<h2><a href="https://www.youtube.com/user/thenewboston" target="_blank">The New Boston (YouTube) </a></h2>
					<img class="videos-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579222/thenewboston-min.png">
				</li>
<br>
				<p>This is a series of tutorials on YouTube. The instructor ,Bucky, is highly thought of in the programming community and
				many times holds joint tutorials with other YouTube programming teachers. His videos not only teach you a lot, but his
				sense of humor is on point and he will have you chuckling as your learning. Unfrtunatly he seems to have moved on from
				his website ,The New Boston, and his YouTube channel for bigger things, but his tutorials are still relavent for now.</p>
			</ol>
		</div>

</div>		