<!doctype html>
<head>
<% title 'Contact Me' %>
<% description 'I truly would love to hear from you.  I will personally E-Mail anyone back in a timely fashion.  Feel free to reach out.' %>
<% keywords 'codingko, web development, computer programming, development, programming, tutorials, web development tutorials, html, css, javascript, ruby, ruby on rails, python, interactive, tutorials, learn, learning' %>
</head>
<div class="contact-body">

    <header>
        <h1 id="contact-head">Let's Keep in Touch</h1>
    </header>

    <div id="mobile-contact">

            <div id="contact-reasons-mobile">

                    <ul>
                            <h2>Contact Me For</h2>
                        <li>Building You A Website</li>
                        <li>Maintain A Website For You</li>
                        <li>To Make A New Friend</li>
                        <li>To Give Me A Compliment</li>
                        <li>To Get A Compliment From Me</li>
                        <li>To Insult Me</li>
                        <li>Questions For Me</li>
                        <li>Give Me A Job</li>
                        <li>Take Me To Lunch</li>
                    </ul>

                </div>

                <div id="anything-contact-mobile">

                    <h2>CONTACT ME FOR ANYTHING AT ALL!!!</h2>

                </div>
                <div id="push-button">

                    <h2 id="push">PUSH THE BUTTON</h2>

                    <h2 id="do-it">DO IT!!!</h2>

                </div>

    </div>

    <div id="contact-content">

        <div class="form-area">

            <% flash.each do |type, msg| %>

            <%= content_tag :div, msg, class: "alert alert-#{type}" %>

            <% end %>

            <%= form_for @contact do |f| %>

            <form class="form-horizontal" method="post">

                <fieldset>

                    <legend>Contact Me</legend>

                    <div id="form-group1">

                        <%= f.label :name %>

                        <%= f.text_field :name, class: 'form-control', placeholder: 'John Doe' %>

                        <img id="name-icon"
                        src="https://res.cloudinary.com/dmks1qdth/image/upload/v1534279841/name.png">

                    </div>

                    <div id="form-group2">

                        <%= f.label :email %>

                        <%= f.text_field :email, class: 'form-control', placeholder: 'yourEmail@email.com' %>

                        <img id="email-icon" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1534279834/yourEmail.png">

                    </div>

                    <div id="form-group3">

                        <%= f.label :comments %>

                        <%= f.text_area :comments, class: 'form-control' %>

                        <img id="comments-icon" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1534279848/comments.png">
                        <div id="anything-contact">
                            <h2>
                                CONTACT ME FOR ANYTHING AT ALL!!!
                            </h2>
                        </div>
                    </div>

                    <div id="form-group4">

                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>

                        <% end %>

                    </div>

                </fieldset>

            </form>

        </div>

        <div id="contact-reasons">

            <ul>
                    <h2>Contact Me For</h2>
                <li>Building You A Website</li>
                <li>Maintain A Website For You</li>
                <li>To Make A New Friend</li>
                <li>To Give Me A Compliment</li>
                <li>To Get A Compliment From Me</li>
                <li>To Insult Me</li>
                <li>Questions For Me</li>
                <li>Give Me A Job</li>
                <li>Take Me To Lunch</li>
            </ul>

        </div>

            <div id="tear-away">

                <img id="contact1" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1534252134/ContactMe-noOther.png" alt="Tear away poster for hiring Kenneth Olsen.">
                <div id="tear-wrap">
                <div id="email"><a id="email-me" href="mailto:kolsen86@yahoo.com"></a></div>
                <div id="github"><a id="git-at-me" href="https://github.com/kolsen86"></a></div>
                <div id="linkedin"><a id="connect" href="https://www.linkedin.com/in/codingko"></a></div>
                </div>
            </div>


<button id="contact-popout" onclick="document.getElementById('id01').style.display='block'">Contact Me</button>
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>


            <% flash.each do |type, msg| %>

            <%= content_tag :div, msg, class: "alert alert-#{type}" %>

            <% end %>

            <%= form_for @contact do |f| %>

            <form class="form-horizontal modal-content animate" action="/action_page.php" method="post">

                <fieldset id="r-form">

                    <legend id="r-legend">Contact Me</legend>

                    <div id="form-groupr1">

                        <%= f.label :name %>

                        <%= f.text_field :name, class: 'form-control', placeholder: 'John Doe' %>

                    </div>

                    <div id="form-groupr2">

                        <%= f.label :email %>

                        <%= f.text_field :email, class: 'form-control', placeholder: 'yourEmail@email.com' %>

                    </div>

                    <div id="form-groupr3">

                        <%= f.label :comments %>

                        <%= f.text_area :comments, class: 'form-control' %>

                    </div>

                    <div id="form-groupr4">

                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>

                        <% end %>

                    </div>

                </fieldset>

            </form>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
</div>
    </div>

</div>
