<div class="contact-body">

    <header>
        <h1 id="contact-head">Let's Keep in Touch</h1>
    </header>

    <div id="contact-content">

        <div class="form-area">

            <% flash.each do |type, msg| %>

            <%= content_tag :div, msg, class: "alert alert-#{type}" %>

            <% end %>

            <%= form_for @contact do |f| %>

            <form class="form-horizontal" method="post">

                <fieldset>

                    <legend>Contact Me</legend>

                    <div id="form-group1">

                        <%= f.label :name %>

                        <%= f.text_field :name, class: 'form-control', placeholder: 'John Doe' %>

                        <img id="name-icon"
                        src="https://res.cloudinary.com/dmks1qdth/image/upload/v1534279841/name.png">

                    </div>

                    <div id="form-group2">

                        <%= f.label :email %>

                        <%= f.text_field :email, class: 'form-control', placeholder: 'yourEmail@email.com' %>

                        <img id="email-icon" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1534279834/yourEmail.png">

                    </div>

                    <div id="form-group3">

                        <%= f.label :comments %>

                        <%= f.text_area :comments, class: 'form-control' %>

                        <img id="comments-icon" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1534279848/comments.png">
                        <div id="anything-contact">
                            <h2>
                                CONTACT ME FOR ANYTHING AT ALL!!!
                            </h2>
                        </div>
                    </div>

                    <div id="form-group4">

                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>

                        <% end %>

                    </div>

                </fieldset>

            </form>

        </div>

        <div id="contact-reasons">

            <ul>
                    <h2>Contact Me For</h2>
                <li>Building You A Website</li>
                <li>Maintain A Website For You</li>
                <li>To Make A New Friend</li>
                <li>To Give Me A Compliment</li>
                <li>To Get A Compliment From Me</li>
                <li>To Insult Me</li>
                <li>Questions For Me</li>
                <li>Give Me A Job</li>
                <li>Take Me To Lunch</li>
            </ul>

        </div>

            <div id="tear-away">

                <img id="contact1" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1534252134/ContactMe-noOther.png">
                <div id="email"><a id="email-me" href="mailto:kolsen86@yahoo.com"></a></div>
                <div id="github"><a id="git-at-me" href="https://github.com/kolsen86"></a></div>
                <div id="linkedin"><a id="connect" href="https://www.linkedin.com/in/codingko"></a></div>
            </div>

<!-- Button to open the modal login form -->
<button id="contact-popout" onclick="document.getElementById('id01').style.display='block'">Login</button>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
    </div>

</div>
