  <nav class="navbar navbar-expand navbar-default navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        &ltCODING&gtKO&lt/.COM&gt
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "K.O.'s Tech Corner", blog_path %></li>
        <li><%= link_to "Daily Grind", grind_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Other Resources", tutorials_path %></li>
        <li><%= link_to "Contact Me", new_contact_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<div class="container contact-body">

<header class="container-fluid text-center contact-header">
    <h1>&ltCODING&gtKO&lt/.COM&gt</h1>
</header>


    <div class="container contact-intro">

    <p>I put a lot of work into getting this website off the ground.  I encourage you to please let me know how I am doing.  I appreciate any compliments or critiques that I get and I will respond to every E-Mail when I have time.  So if you have any suggestions for what you would like to see in an article or any corrections you may have noticed need done, do not hesitate to drop me an E-Mail.  You can also follow me on Twitter and add me on FaceBook and Linkedin </p>
    </div>

     <h3 id="contact-me">Contact Me</h3><h3 id="hire">Hire Me</h3><h3 id="critique">Critique Me</h3><h3 id="lunch">Ask Me Too Lunch</h3><h3 id="fill-it-out">Just Fill Out The Form</h3>

     <img class="arrow" src="https://res.cloudinary.com/dmks1qdth/image/upload/c_crop,h_87,w_432/v1531792186/lotarrows.jpg">

     <div class="container">

 <div class="row ko-row">

 <div class="col-md-12">

 <div class="well well-sm ko-well">

 <form class="form-horizontal" method="post">

 <fieldset>

 <% flash.each do |type, msg| %>

    <%= content_tag :div, msg, class: "alert alert-#{type}" %>

    <% end %>

 <legend class="text-center header">Contact Kenneth Olsen</legend>

 <%= form_for @contact do |f| %>

 <div class="form-group">

 <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user fa-3x bigicon"></i></span>

 <div class="col-md-8">

  <%= f.label :name %>

  <%= f.text_field :name, class: 'form-control', placeholder: 'John Doe' %>

 </div>

 </div>

 <div class="form-group">

 <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o fa-3x bigicon"></i></span>

 <div class="col-md-8">

 
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control', placeholder: 'yourEmail@email.com' %>

 </div>

 </div>

 <div class="form-group">

 <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o fa-3x bigicon"></i></span>

 <div class="col-md-8">

  <%= f.label :comments %>
  <%= f.text_area :comments, class: 'form-control' %>

 </div>

 </div>

 <div class="form-group">

 <div class="col-md-12 text-center">

   <%= f.submit 'Submit', class: 'btn btn-default' %>
<% end %>
 </div>

 </div>

 </fieldset>

 </form>

 </div>

 </div>

 </div>

</div>
  
<div id="twitter">
 <a href="https://twitter.com/KennethOlsen?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @KennethOlsen</a></div><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<footer>Footer Placeholder</footer>


