<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application',  media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Special+Elite|Corben|IM+Fell+Great+Primer+SC|Carter+One|Alfa+Slab+One|Merienda:400,700|Source+Serif+Pro:400,600,700|Trade+Winds|Graduate|K2D:400,800|Ubuntu+Mono:400,700|Share+Tech+Mono">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
  crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
  crossorigin="anonymous">
  <%= display_meta_tags site: '| CodingKO' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="msvalidate.01" content="A1C3BEEDCDA658F70684F8508D4E3916" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126087848-1"></script>
  <script async>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-126087848-1');
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="google-site-verification" content="dyH-BH7Q1beOm6rnLisNbv4E68OWEH5l79w2IuFf8Ps" />
</head>

<body>


    <div class="button_container" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
    <div class="overlay" id="overlay">
        <nav class="overlay-menu">
<ul>
  <h1 id="logo-nav"><span>&lt;</span>CODING<span>&gt;</span>KO<span>&lt;</span>.<span id="slash">/</span>COM<span>&gt;</span></h1>
  <li><a href="/">Home</a></li>
 <li><a href="/blog">KO's Tech Spot</a></li>
 <li><a href="/grind">Daily Grind</a></li>
 <li><a href="/technews">Tech News</a></li>
 <li><a href="/about">About</a></li>
 <li><a href="/contact-me">Contact</a></li>
 <li class="second-col"><a href="/tutorials">Tutorials and Other Resources</a></li>
 <li class="second-col"><a href="/inttutorials">Interactive Tutorials</a></li>
 <li class="second-col"><a href="/booktutorials">Book Tutorials</a></li>
 <li class="second-col"><a href="/videotutorials">Video Tutorials</a></li>
 <li class="second-col"><a href="/mooctutorials">MOOC Tutorials</a></li>
 <li class="second-col"><a href="/paidtutorialsandpath">Paid Tutorials</a></li>
 <li class="third-col"><a href="/referanceandquestions">Reference and Questions</a></li>
 <li class="third-col"><a id="main-nav-tools" href="/tools">Useful Tools for Web Development and Computer Programming</a>
 <li class="third-col"><a id="main-nav-5wh" href="/w5hhome">The Who, What, When, Where, Why, and How's of Programming</a></li>
   
    <div class="social-media">
      <span id="social-media1">
        <a href="https://twitter.com/Coding_K_O">
          <i class="fab fa-twitter"></i>
          <span class="screen-reader-text">Twitter</span>
        </a>
      </span>

      <span id="social-media2">
        <a href="https://github.com/kolsen86">
          <i class="fab fa-github"></i>
          <span class="screen-reader-text">GitHub</span>
        </a>
      </span>

      <span id="social-media3">
        <a href="https://www.linkedin.com/in/CodingKO">
          <i class="fab fa-linkedin"></i>
          <span class="screen-reader-text">LinkedIn</span>
        </a>
      </span>
    </div>
  </ul>
        </nav>
    </div>
  
  <%= yield %>
  
  <footer>
    <h2 id="foot">codingko.com</h2>
    <div class="social-media-f">
      <span id="social-media1-f">
        <a href="https://twitter.com/Coding_K_O">
          <i class="fab fa-twitter"></i>
          <span class="screen-reader-text">Twitter</span>
        </a>
      </span>

      <span id="social-media2-f">
        <a href="https://github.com/kolsen86">
          <i class="fab fa-github"></i>
          <span class="screen-reader-text">GitHub</span>
        </a>
      </span>

      <span id="social-media3-f">
        <a href="https://www.linkedin.com/in/CodingKO">
          <i class="fab fa-linkedin"></i>
          <span class="screen-reader-text">LinkedIn</span>
        </a>
      </span>
    </div>

  </footer>


<script>
$('#toggle').click(function() {
   $(this).toggleClass('active');
   $('#overlay').toggleClass('open');
  });
</script>

</body>

</html>
