<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application',  media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Special+Elite|Corben|IM+Fell+Great+Primer+SC|Carter+One|Alfa+Slab+One|Merienda:400,700|Source+Serif+Pro:400,600,700|Trade+Winds|Graduate">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <%= display_meta_tags site: '| CodingKO' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126087848-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-126087848-1');
  </script>
  <%= javascript_include_tag  'application', 'data-turbolinks-track': 'reload' %>
  <meta name="google-site-verification" content="dyH-BH7Q1beOm6rnLisNbv4E68OWEH5l79w2IuFf8Ps" />
</head>

<body>


  <header>
    <div class="menu-cont" id="toggle">
      <span class="menu-txt" data-text="CLOSE-">
        *MENU*
      </span>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>

  </header>
  <div class="overlay" id="overlay">
    <div id="big-menu">
      <nav class="overlay-menu">
        <ul id="nav-menu-width">

          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li>
            <%= link_to "K.O.'s Tech Corner", blog_path %>
          </li>
          <li>
            <%= link_to "Daily Grind", grind_path %>
          </li>
          <li id="nav-about">
            <%= link_to "About", about_path %>
          </li>

          <li id="nav-contact">
            <%= link_to "Contact Me", new_contact_path %>
          </li>
        </ul>

        <ul id="nav-menu-width2">
          <a href="/tutorials">
            <h3 id="tuts-res">Tutorials and Other Resources</h3>
          </a>
          <li>
            <a href="/5whhtml">The Who, What, When, Where,<br> Why, and How's of Programming</a>
          </li>
          <br>
          <li>
            <a href="/inttutorials">Interactive Tutorials</a>
          </li>
          <li>
            <a href="/booktutorials">Book Tutorials</a>
          </li>
          <li>
            <a href="videotutorials">Video Tutorials</a>
          </li>
          <li>
            <a href="mooctutorials">Massive Open Online Courses(MOOCs)</a>
          </li>
          <li>
            <a href="/paidtutorialsandpath">Paid Tutorials and Learning Pathways</a>
          </li>
          <li>
            <a href="/referanceandquestions">Reference and Asking Questions</a>
          </li>
          <li>
            <a href="/tools">Useful Tools</a>
          </li>
        </ul>
        <div class="social-media">
          <span id="social-media1">
            <a href="https://twitter.com/Coding_K_O">
              <i class="fab fa-twitter"></i>
              <span class="screen-reader-text">Twitter</span>
            </a>
          </span>

          <span id="social-media2">
            <a href="https://github.com/kolsen86">
              <i class="fab fa-github"></i>
              <span class="screen-reader-text">GitHub</span>
            </a>
          </span>

          <span id="social-media3">
            <a href="https://www.linkedin.com/in/CodingKO">
              <i class="fab fa-linkedin"></i>
              <span class="screen-reader-text">LinkedIn</span>
            </a>
          </span>
      </nav>
    </div>
  </div>
  <%= yield %>
  <footer>
    <h2 id="foot">codingko.com</h2>
    <div class="social-media-f">
      <span id="social-media1-f">
        <a href="https://twitter.com/Coding_K_O">
          <i class="fab fa-twitter"></i>
          <span class="screen-reader-text">Twitter</span>
        </a>
      </span>

      <span id="social-media2-f">
        <a href="https://github.com/kolsen86">
          <i class="fab fa-github"></i>
          <span class="screen-reader-text">GitHub</span>
        </a>
      </span>

      <span id="social-media3-f">
        <a href="https://www.linkedin.com/in/CodingKO">
          <i class="fab fa-linkedin"></i>
          <span class="screen-reader-text">LinkedIn</span>
        </a>
      </span>
    </div>

  </footer>
  <script async>
    $('#toggle').click(function () {
      $(this).toggleClass('active');
      $('#overlay').toggleClass('open');
    });
    $('.menu-cont').on('click', function () {

      var menu = $('.menu-txt').text();
      var close = $('.menu-txt').attr('data-text');

      $('.menu').toggleClass('active');

      if ($('.menu-txt').text(menu)) {
        $('.menu-txt').text(close);
      } else {
        $('.menu-txt').text(menu);
      }
      $('.menu-txt').attr('data-text', menu);
    })
    var findNCenter = function () {
      var elems = document.querySelectorAll('.center-vertical');

      for (var i = 0; i < elems.length; i++) {
        elems[i].style.marginTop = (elems[i].parentNode.offsetHeight - elems[i].offsetHeight) / 2 + 'px';
      }
    };

    document.addEventListener && document.addEventListener('DOMContentLoaded', findNCenter);
    window.addEventListener && window.addEventListener('resize', findNCenter);

    $(document).ready(function () {

      var count = $('#inner p').length;
      var i = 1;

      setInterval(function () {
        if (i < count) {
          $('#inner').css('-webkit-transform', 'translate3d(0,-' + i + '00%,0)');
          i++;
        }
      }, 800);
    });
  </script>
  <script async>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("toggle").style.top = "0";
      } else {
        document.getElementById("toggle").style.top = "-110px";
      }
      prevScrollpos = currentScrollPos;
    }
  </script>
</body>

</html>
