
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Corben|Crete+Round:400,400i|IM+Fell+Great+Primer+SC|Source+Serif+Pro:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<% description 'Interested in learning about computer programming and web development?  Stop in to codingko.com for lists of the best tools, resources, and tutorials available online.  Also, very beginner friendly tutorials on some of the stuff other tutorials available online seem to gloss over or assume that a beginner would know.' %>
    <% keywords 'codingko, web development, computer programming, development, programming, tutorials, web development tutorials, html, css, javascript, ruby, ruby on rails, python, interactive, tutorials, learn, learning' %>
    <%= display_meta_tags site: 'CodingKO.com' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div class="home-body">
<!--<div class="logo"><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1532826615/arm.png" height="400px" width="600px"></div>-->
<div class="home-nav">
<div class="home-blog">
    <a href="/blog"><h1>K.O.'s Tech Corner</h1>
    <h3>Some Opinions, Motivation, and How-to's from yours truly.</h3></a>
</div>
<div class="home-tuts">
    <a href="/tutorials"><h1>Tutorials and Other Resources</h1>
    <h3>Some of the best computer programming and web development tutorials and courses I have found online or in bookstores.  Updated regularly.</h3></a>
</div>
<div class="home-tools">
    <a href="/tools"><h1>Useful Tools</h1>
    <h3>A regularly updated list of the best tools that I have found for computer programming and web development.</h3></a>
</div>
<div class="home-grind">
<a href="/grind"><h1>My Daily Grind</h1>
<h3>Have a look at my Journey to Becoming a Web Developer, also quite a bit of me venting about one thing or another.  Updated daily with all of my progress.</h3></a>
</div>
<div class="home-contact">
    <a href="/contact-me"><h1>Contact Me</h1>
    <h3>Offer me work, ask me questions, criticize me, praise me.  It's a Contact Page! You know what to do with it!</h3></a>
</div>
<div class="home-about">
    <a href="/about"><h1>About Me</h1>
    <h3>Gather a little insight about the man that is Kenneth Olsen, learrn what makes him tick, learn what he like and dislikes, and above all else learn About Him.</h3></a>
</div>
</div>
<div class="first-place">
<h1>Winner of "The Best Web Developer Ever Award"</h1>
<img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1535156659/bg1stplace.png" alt="Image of a blue, first place ribbon">
<h3>As voted by Nancy Olsen, My Mom</h3>
</div>
<h2 class="testimonials">Here are some testimonials from those who have seen my work.</h2>
<div class="row">
<div class="dad-quote">
    <h3> Gary Olsen (Dad)</h3>
<p><i class="fas fa-quote-left"></i><i>It's about time he got out of my basement and is trying to find a real job.  HEY!! STOP EATING MY SALAMI AND CHEESE!!!</i><i class="fas fa-quote-right"></i></p>
</div>
<div class="mom-quote">
    <h3>Nancy Olsen (Mom)</h3>
<p><i class="fas fa-quote-left"></i><i>Oh. My BooBoo is just amazing at everything.  Of course he won the Best Web Developer Ever Award!  I couldn't think of a better or more deserving web developer I have ever met that would deserve it more.</i><i class="fas fa-quote-right"></i></p>
</div>
<div class="girlfriend-quote">
    <h3>Crystal Waucaush (Girlfriend)</h3>
<p><i class="fas fa-quote-left"></i><i>Yeah.  He's great at computer development.. <span>Me: Its Web Development babe..</span> I mean Web Development..  Ok. I said it, can we go now?</i><i class="fas fa-quote-right"></i></p>
</div>
</div>

<p class="real-quotes">That's right!!  Those are real quotes, from real people!!!</p>

</div>

<footer>
    <h2 id="foot">codingko.com</h2>
    <div class="social-media-f">
        <span id="social-media1-f">
                <a href="https://twitter.com/Coding_K_O">
                <i class="fab fa-twitter"></i>
                <span class="screen-reader-text">Twitter</span>
            </a>
            </span>

             <span id="social-media2-f">
                 <a href="https://github.com/kolsen86">
                <i class="fab fa-github"></i>
                <span class="screen-reader-text">GitHub</span>
                </a>
            </span>

            <span id="social-media3-f">
                <a href="https://www.linkedin.com/in/CodingKO">
                <i class="fab fa-linkedin"></i>
                <span class="screen-reader-text">LinkedIn</span>
            </a>
        </span>
        </div>
</footer>
</html>
